Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, stylelint, eslint

.pre-commit-config.yaml:

ci:
  skip: ["eslint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.19
    hooks:
      - id: mdformat
        args: ["--wrap", "80"]
        additional_dependencies:
          - mdformat-gfm
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different
        files: \.(css|js|mjs|ts|svelte|yaml|json)$
        require_serial: true
        additional_dependencies:
          - "prettier@3.3.3"
          - "prettier-plugin-svelte@3.3.2"
          - "svelte@4.2.19"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix
        files: \.(css|svelte)$
        require_serial: true
        additional_dependencies:
          - "stylelint@16.10.0"
          - "stylelint-config-recess-order@5.1.1"
          - "stylelint-config-standard@36.0.1"
          - "postcss-html@1.7.0"
      - id: eslint
        name: eslint
        language: node
        entry:
          ./frontend/node_modules/eslint/bin/eslint.js --config
          frontend/eslint.config.mjs --fix --max-warnings 0
        require_serial: true
        files: frontend/.*\.(js|mjs|ts|svelte)$

api errors: determine success by http status, handle filter error
  frontend/src/lib/fetch.ts
  src/fava/json_api.py
  tests/test_json_api.py
Due: prettier, eslint

misc: test robustness
  tests/__snapshots__/test_json_api-test_api_context-2.json
  tests/__snapshots__/test_json_api-test_api_context.json
  tests/__snapshots__/test_json_api-test_api_unix_only-documents.json
  tests/conftest.py
  tests/data/example.beancount
  tests/data/off-by-one.beancount
  tests/test_core_charts.py
  tests/test_json_api.py
Due: prettier

filters: escape payee suggestions
  frontend/src/journal/index.ts
  frontend/src/sidebar/FilterForm.svelte
Due: prettier, stylelint, eslint

add css improvements for journal on mobile devices
  frontend/css/journal-table.css
Due: prettier, stylelint

journal: rework some of the css changes
  frontend/css/journal-table.css
  frontend/css/layout.css
Due: prettier, stylelint

autocomplete: migrate to Svelte 5 runes
  frontend/src/AutocompleteInput.svelte
Due: prettier, stylelint, eslint

errors: avoid @html, convert to runes
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/route.svelte.ts
Due: prettier, stylelint, eslint

sidebar: migrate to Svelte 5 runes
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/AccountPageTitle.svelte
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/PageTitle.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: prettier, stylelint, eslint

editor report: migrate to Svelte 5 runes
  frontend/src/reports/editor/AppMenu.svelte
  frontend/src/reports/editor/AppMenuItem.svelte
  frontend/src/reports/editor/AppMenuSubItem.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/editor/Key.svelte
Due: prettier, stylelint, eslint

lint
  frontend/eslint.config.mjs
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/reports/editor/Editor.svelte
Due: prettier, stylelint, eslint

svelte 5 now supports types in templates
  frontend/eslint.config.mjs
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/reports/documents/Documents.svelte
Due: prettier, stylelint, eslint

use svelte rune to update props in frontend reports
  frontend/src/reports/route.svelte.ts
  frontend/src/reports/route.ts
Due: prettier, eslint

initial upgrade to Svelte 5
  frontend/build.ts
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/journal/index.ts
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/route.ts
  frontend/src/reports/routes.ts
  frontend/src/router.ts
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/index.ts
  frontend/src/svelte-custom-elements.ts
Due: prettier, stylelint, eslint

charts: only show active currencies in tooltip
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/bar.ts
Due: prettier, stylelint, eslint

tree-reports: migrate to Svelte 5 runes
  frontend/src/reports/commodities/index.ts
  frontend/src/reports/documents/index.ts
  frontend/src/reports/editor/index.ts
  frontend/src/reports/events/index.ts
  frontend/src/reports/holdings/index.ts
  frontend/src/reports/route.svelte.ts
  frontend/src/reports/tree_reports/BalanceSheet.svelte
  frontend/src/reports/tree_reports/IncomeStatement.svelte
  frontend/src/reports/tree_reports/TrialBalance.svelte
  frontend/src/reports/tree_reports/index.ts
  frontend/src/tree-table/AccountCell.svelte
  frontend/src/tree-table/AccountCellHeader.svelte
  frontend/src/tree-table/Diff.svelte
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/IntervalTreeTableNode.svelte
  frontend/src/tree-table/TreeTable.svelte
  frontend/src/tree-table/TreeTableNode.svelte
Due: prettier, stylelint, eslint

charts: migrate to Svelte 5 runes
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/stores/chart.ts
  frontend/test/charts.test.ts
Due: prettier, stylelint, eslint

update dependencies to Svelte 5
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fuzzywrap: avoid svelte html tag
  frontend/src/AutocompleteInput.svelte
  frontend/src/lib/fuzzy.ts
  frontend/test/fuzzy.test.ts
Due: prettier, stylelint, eslint

options: render in frontend
  frontend/css/base.css
  frontend/src/api/index.ts
  frontend/src/api/validators.ts
  frontend/src/reports/options/Options.svelte
  frontend/src/reports/options/OptionsTable.svelte
  frontend/src/reports/options/index.ts
  frontend/src/reports/routes.ts
  src/fava/application.py
  src/fava/json_api.py
  src/fava/templates/options.html
  tests/__snapshots__/test_json_api-test_api_unix_only-options.json
  tests/test_json_api.py
Due: prettier, stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: prettier

errors report: avoid @html
  frontend/src/reports/errors/Errors.svelte
Due: prettier, stylelint, eslint

ci: upload wheel as artifact
  .github/workflows/publish.yml
Due: none

tests: more coverage for slice editing and adding metadata
  src/fava/json_api.py
  tests/test_json_api.py
Due: none

query_shell: complete test coverage
  src/fava/core/query_shell.py
  tests/test_core_query_shell.py
Due: none

fix aligning of postings with prices
  src/fava/beans/str.py
  src/fava/core/misc.py
  stubs/beancount/core/amount.pyi
  tests/__snapshots__/test_serialisation-test_deserialise_posting_and_format
  tests/test_beans_str.py
Due: none
