Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@16.9.0
  - stylelint-config-recess-order@5.1.1
  - stylelint-config-standard@36.0.1
  - postcss-html@1.7.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --config frontend/eslint.config.mjs --fix --max-warnings 0
  require_serial: true

lint: adjust config
  docs/conf.py
  pyproject.toml
Due: none

changes
  CHANGES
Due: none

add support for Beancount v3
  CHANGES
  constraints-old.txt
  constraints.txt
  contrib/scripts.py
  frontend/src/codemirror/bql-grammar.ts
  frontend/src/reports/query/query_table.ts
  pyproject.toml
  src/fava/beans/__init__.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/core/ingest.py
  src/fava/core/query.py
  src/fava/core/query_shell.py
  src/fava/ext/fava_ext_test/__init__.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/util/excel.py
  stubs/beancount/core/data.pyi
  tests/__snapshots__/test_core_ingest-test_ingest_examplefile.json
  tests/__snapshots__/test_core_query_shell-test_query
  tests/__snapshots__/test_core_query_shell-test_query-2
  tests/__snapshots__/test_core_query_shell-test_query_balances
  tests/__snapshots__/test_core_query_shell-test_query_to_file
  tests/__snapshots__/test_core_query_shell-test_text_queries
  tests/__snapshots__/test_json_api-test_api_imports-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-3.json
  tests/__snapshots__/test_json_api-test_api_query_result-4.json
  tests/__snapshots__/test_json_api-test_api_query_result-5.json
  tests/__snapshots__/test_json_api-test_api_query_result.json
  tests/__snapshots__/test_serialisation-test_deserialise_posting_and_format
  tests/__snapshots__/test_serialisation-test_serialise_entry_types.json
  tests/test_core_ingest.py
  tests/test_core_query_shell.py
  tests/test_json_api.py
  tox.ini
Due: eslint

query: handle None in Inventory column
  frontend/src/reports/query/query_table.ts
  src/fava/core/query.py
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

lint
  src/fava/core/fava_options.py
  src/fava/core/inventory.py
Due: none

require Python 3.9
  .github/workflows/test.yml
  Makefile
  _build_backend.py
  constraints-old.txt
  constraints.txt
  contrib/scripts.py
  pyproject.toml
  src/fava/application.py
  src/fava/beans/prices.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/inventory.py
  src/fava/core/tree.py
  src/fava/core/watcher.py
  src/fava/json_api.py
  src/fava/util/__init__.py
  src/fava/util/date.py
  src/fava/util/sets.py
  tests/conftest.py
  tests/test_util.py
Due: none

add support for Beancount v3
  CHANGES
  _build_backend.py
  constraints-old.txt
  constraints.txt
  contrib/scripts.py
  frontend/src/codemirror/bql-grammar.ts
  frontend/src/reports/query/query_table.ts
  pyproject.toml
  src/fava/beans/__init__.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/core/ingest.py
  src/fava/core/query.py
  src/fava/core/query_shell.py
  src/fava/ext/fava_ext_test/__init__.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/util/excel.py
  src/fava/util/sets.py
  stubs/beancount/core/data.pyi
  tests/__snapshots__/test_core_ingest-test_ingest_examplefile.json
  tests/__snapshots__/test_core_query_shell-test_query
  tests/__snapshots__/test_core_query_shell-test_query-2
  tests/__snapshots__/test_core_query_shell-test_query_balances
  tests/__snapshots__/test_core_query_shell-test_query_to_file
  tests/__snapshots__/test_core_query_shell-test_text_queries
  tests/__snapshots__/test_json_api-test_api_imports-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-3.json
  tests/__snapshots__/test_json_api-test_api_query_result-4.json
  tests/__snapshots__/test_json_api-test_api_query_result-5.json
  tests/__snapshots__/test_json_api-test_api_query_result.json
  tests/__snapshots__/test_serialisation-test_deserialise_posting_and_format
  tests/__snapshots__/test_serialisation-test_serialise_entry_types.json
  tests/test_core_ingest.py
  tests/test_core_query_shell.py
  tests/test_json_api.py
Due: eslint

ingest: refactor
  src/fava/core/ingest.py
  tests/test_core_ingest.py
Due: none

tests: increase waits in watcher tests to reduce flakiness
  tests/test_core_watcher.py
Due: none

test: report coverage on terminal as well
  tox.ini
Due: none

test: increase coverage
  pyproject.toml
  src/fava/application.py
  src/fava/beans/create.py
  src/fava/beans/helpers.py
  src/fava/beans/ingest.py
  src/fava/beans/load.py
  src/fava/beans/str.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/extensions.py
  src/fava/core/fava_options.py
  src/fava/core/filters.py
  src/fava/core/number.py
  src/fava/ext/__init__.py
  src/fava/json_api.py
  src/fava/serialisation.py
  src/fava/util/__init__.py
  src/fava/util/date.py
  src/fava/util/excel.py
  src/fava/util/sets.py
  src/fava/util/unreachable.py
  tests/test_application.py
  tests/test_beans.py
  tests/test_beans_str.py
  tests/test_core_attributes.py
  tests/test_core_budgets.py
  tests/test_core_documents.py
  tests/test_core_fava_options.py
  tests/test_core_filters.py
  tests/test_ext.py
  tests/test_extensions.py
  tests/test_json_api.py
  tests/test_util.py
Due: none

add support for Beancount v3
  CHANGES
  _build_backend.py
  constraints-old.txt
  constraints.txt
  contrib/scripts.py
  frontend/src/codemirror/bql-grammar.ts
  frontend/src/reports/query/query_table.ts
  pyproject.toml
  src/fava/beans/__init__.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/core/ingest.py
  src/fava/core/query.py
  src/fava/core/query_shell.py
  src/fava/ext/fava_ext_test/__init__.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/util/excel.py
  stubs/beancount/core/data.pyi
  tests/__snapshots__/test_core_ingest-test_ingest_examplefile.json
  tests/__snapshots__/test_core_query_shell-test_query
  tests/__snapshots__/test_core_query_shell-test_query-2
  tests/__snapshots__/test_core_query_shell-test_query_balances
  tests/__snapshots__/test_core_query_shell-test_query_to_file
  tests/__snapshots__/test_core_query_shell-test_text_queries
  tests/__snapshots__/test_json_api-test_api_imports-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-3.json
  tests/__snapshots__/test_json_api-test_api_query_result-4.json
  tests/__snapshots__/test_json_api-test_api_query_result-5.json
  tests/__snapshots__/test_json_api-test_api_query_result.json
  tests/__snapshots__/test_serialisation-test_deserialise_posting_and_format
  tests/__snapshots__/test_serialisation-test_serialise_entry_types.json
  tests/test_core_ingest.py
  tests/test_core_query_shell.py
  tests/test_json_api.py
Due: eslint

update snapshot
  tests/__snapshots__/test_json_api-test_api-account_report_off_by_one_journal.json
Due: none

test: coverage
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/group_entries.py
  tests/conftest.py
  tests/test_application.py
  tests/test_core.py
  tests/test_json_api.py
Due: none

fava.application: add class to wrap ledger loading and slugifying
  src/fava/application.py
  src/fava/core/__init__.py
  tests/conftest.py
Due: none

api: use proper HTTP status codes; test coverage
  frontend/src/lib/fetch.ts
  src/fava/application.py
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/core/accounts.py
  src/fava/json_api.py
  src/fava/serialisation.py
  stubs/beancount/core/data.pyi
  tests/test_application.py
  tests/test_core_accounts.py
  tests/test_core_file.py
  tests/test_json_api.py
  tests/test_serialisation.py
  tests/test_util.py
Due: eslint

feat: add light/dark mode switch (#1874)
  frontend/css/style.css
  frontend/src/components/ThemeSwitch.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/stores/theme.ts
Due: stylelint, eslint

fix: add type attribute to button and remove @html usage
  frontend/css/style.css
  frontend/src/components/ThemeSwitch.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/stores/theme.ts
Due: stylelint, eslint

chore: use empty instead of self-closing tags
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/editor/DocumentPreviewEditor.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/entry-forms/Note.svelte
  frontend/src/modals/AddEntry.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/documents/DocumentPreview.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/query/QueryBox.svelte
  frontend/src/reports/query/QueryEditor.svelte
  frontend/src/reports/query/ReadonlyQueryEditor.svelte
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

increase test coverage
  src/fava/beans/account.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  tests/test_beans.py
  tests/test_core_charts.py
  tests/test_json_api.py
Due: none

fix color of cursor in editor when using dark mode
  frontend/css/editor.css
Due: stylelint

add auto-completion for narration
  frontend/src/api/index.ts
  frontend/src/api/validators.ts
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/stores/index.ts
  src/fava/core/attributes.py
  src/fava/internal_api.py
  src/fava/json_api.py
  tests/__snapshots__/test_application-test_client_side_reports
  tests/__snapshots__/test_internal_api-test_get_ledger_data.json
  tests/test_core_attributes.py
Due: stylelint, eslint

remove newline at end of file to fix test
  tests/__snapshots__/test_application-test_client_side_reports
  tests/__snapshots__/test_internal_api-test_get_ledger_data.json
Due: none

pre-commit: use mdformat for markdown files
  .pre-commit-config.yaml
  contrib/docker/README.md
  contrib/pythonanywhere/README.md
  src/fava/help/extensions.md
  src/fava/help/features.md
  src/fava/help/options.md
Due: none

beanquery: add stubs; use less private API
  contrib/scripts.py
  src/fava/beans/__init__.py
  src/fava/beans/funcs.py
  src/fava/core/query.py
  src/fava/core/query_shell.py
  src/fava/util/excel.py
  stubs/beancount/query/__init__.pyi
  stubs/beancount/query/query_compile.pyi
  stubs/beancount/query/query_parser.pyi
  stubs/beanquery/__init__.pyi
  stubs/beanquery/numberify.pyi
  tests/test_util_excel.py
Due: none

use Sequence instead of list for better tracking of mutability
  src/fava/beans/abc.py
  src/fava/beans/account.py
  src/fava/beans/ingest.py
  src/fava/beans/prices.py
  src/fava/beans/types.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/extensions.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/group_entries.py
  src/fava/core/ingest.py
  src/fava/core/misc.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/core/watcher.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/plugins/link_documents.py
  src/fava/plugins/tag_discovered_documents.py
  src/fava/util/ranking.py
  stubs/beancount/core/data.pyi
Due: none

deps and lint
  .pre-commit-config.yaml
  constraints-old.txt
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  src/fava/application.py
  src/fava/core/file.py
Due: none

deps and lint
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  tests/test_core_fava_options.py
  tests/test_core_file.py
Due: none

rename prettier config file
  frontend/eslint.config.mjs
  frontend/prettier.config.mjs
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  src/fava/beans/prices.py
  src/fava/core/filters.py
Due: none

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|mjs|ts|svelte)$
