Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 23.3.0
      hooks:
          - id: black
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.0.261
      hooks:
          - id: ruff
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            require_serial: true
            additional_dependencies:
                - "prettier@2.8.7"
                - "prettier-plugin-svelte@2.10.0"
                - "svelte@3.58.0"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            require_serial: true
            additional_dependencies:
                - "stylelint@15.4.0"
                - "stylelint-config-recess-order@4.0.0"
                - "stylelint-config-standard@31.0.0"
                - "postcss-html@1.5.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            require_serial: true
            files: \.(js|ts|svelte)$

fixups; tests
  src/fava/beans/abc.py
  src/fava/beans/types.py
  src/fava/core/conversion.py
  src/fava/core/ingest.py
  src/fava/template_filters.py
  src/fava/templates/_journal_table.html
  src/fava/templates/_tree_table.html
  src/fava/templates/macros/_account_macros.html
  tests/__snapshots__/test_templates.py-test_account_tree
  tests/__snapshots__/test_templates.py-test_account_tree_off_by_one
  tests/__snapshots__/test_templates.py-test_render_diff_and_number
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-2
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-3
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-4
  tests/__snapshots__/test_templates.py-test_tree_off_by_one
  tests/test_core_ingest.py
  tests/test_templates.py
  tox.ini
Due: none

tests: improve coverage on json api
  tests/__snapshots__/test_json_api.py-test_api_imports
  tests/__snapshots__/test_json_api.py-test_api_imports-2
  tests/__snapshots__/test_json_api.py-test_api_payee_accounts
  tests/__snapshots__/test_json_api.py-test_api_payee_transaction
  tests/data/import_config.py
  tests/test_application.py
  tests/test_json_api.py
Due: none

tests: more consistently use pytest fixtures
  tests/conftest.py
Due: none

lint
  pyproject.toml
  src/fava/beans/account.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/charts.py
  src/fava/core/file.py
  src/fava/core/inventory.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/plugins/link_documents.py
  src/fava/plugins/tag_discovered_documents.py
  tests/conftest.py
  tests/test_core_budgets.py
  tests/test_templates.py
Due: none

deps
  Makefile
  constraints.txt
  frontend/package-lock.json
Due: none

use more dataclasses instead of namedtuples
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/core/ingest.py
  src/fava/core/tree.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/util/date.py
  tests/conftest.py
  tests/test_internal_api.py
  tests/test_util_date.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/stylelint.config.js
  pyproject.toml
  src/fava/core/fava_options.py
  src/fava/ext/auto_commit.py
  tests/test_cli.py
Due: eslint

coverage
  src/fava/json_api.py
Due: none

lint: fix lint-python failure on charts.py
  src/fava/core/charts.py
Due: none

tox: fix usage of constraints
  src/fava/core/charts.py
  tox.ini
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

remove ctrl-c as shortcut of show charts
  frontend/src/charts/Chart.svelte
Due: stylelint, eslint

remove use of deprecated werkzeug url utils
  src/fava/application.py
  src/fava/util/__init__.py
  tests/test_application.py
Due: none

refactor: application factory
  contrib/pythonanywhere/fava/fava_pythonanywhere_com_wsgi.py
  contrib/pythonanywhere/favadev/favadev_pythonanywhere_com_wsgi.py
  src/fava/application.py
  src/fava/cli.py
  src/fava/internal_api.py
  src/fava/util/__init__.py
  stubs/beancount/core/account.pyi
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/conftest.py
  tests/test_application.py
  tests/test_internal_api.py
  tox.ini
Due: none

add snapshots test for client-side-report
  tests/__snapshots__/test_application.py-test_client_side_reports
  tests/test_application.py
Due: none

fix #1611
  src/fava/templates/_tree_table.html
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/stylelint.config.js
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  src/fava/json_api.py
  tests/test_core_query_shell.py
Due: stylelint, eslint

drop support for Python 3.7
  .github/workflows/test.yml
  pyproject.toml
  setup.cfg
  src/fava/__init__.py
  src/fava/core/__init__.py
Due: none

Add ability for extensions to have a javascript module
  .pre-commit-config.yaml
  frontend/src/api/validators.ts
  frontend/src/main.ts
  frontend/tsconfig.json
  src/fava/application.py
  src/fava/core/charts.py
  src/fava/core/extensions.py
  src/fava/ext/__init__.py
  src/fava/ext/portfolio_list/PortfolioList.js
  src/fava/ext/portfolio_list/__init__.py
  src/fava/ext/portfolio_list/templates/PortfolioList.html
  src/fava/help/extensions.md
  src/fava/internal_api.py
  tests/__snapshots__/test_application.py-test_client_side_reports
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/test_application.py
  tests/test_extensions.py
Due: eslint

refactor extension js module code
  frontend/src/extensions.ts
  frontend/src/helpers.ts
  frontend/src/main.ts
  frontend/src/reports/routes.ts
  frontend/src/stores/index.ts
  src/fava/core/charts.py
  src/fava/core/extensions.py
  src/fava/ext/portfolio_list/PortfolioList.js
  src/fava/ext/portfolio_list/templates/PortfolioList.html
  src/fava/help/extensions.md
  tests/test_extensions.py
Due: eslint

extensions: refactor
  frontend/src/api/validators.ts
  frontend/src/extensions.ts
  frontend/src/lib/equals.ts
  frontend/src/lib/store.ts
  frontend/src/sidebar/Aside.svelte
  frontend/src/stores/index.ts
  frontend/test/equals.test.ts
  src/fava/application.py
  src/fava/core/extensions.py
  src/fava/ext/__init__.py
  src/fava/internal_api.py
  tests/__snapshots__/test_application.py-test_client_side_reports
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/test_application.py
  tests/test_extensions.py
Due: stylelint, eslint

deps
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

require Flask 2.2; simplify JSON logic
  constraints-old.txt
  setup.cfg
  src/fava/application.py
  src/fava/core/charts.py
  tests/__snapshots__/test_application.py-test_client_side_reports
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/__snapshots__/test_core_charts.py-test_linechart_data
  tests/__snapshots__/test_core_charts.py-test_linechart_data-2
  tests/__snapshots__/test_core_charts.py-test_linechart_data-3
  tests/__snapshots__/test_core_charts.py-test_linechart_data-4
  tests/__snapshots__/test_core_charts.py-test_net_worth
  tests/__snapshots__/test_core_charts.py-test_net_worth_off_by_one
  tests/__snapshots__/test_core_charts.py-test_net_worth_off_by_one-2
  tests/__snapshots__/test_core_charts.py-test_query
  tests/__snapshots__/test_core_charts.py-test_query-2
  tests/__snapshots__/test_core_charts.py-test_query-3
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/__snapshots__/test_json_api.py-test_api_events
  tests/__snapshots__/test_serialisation.py-test_serialise_entry_types
  tests/test_core_charts.py
  tests/test_core_fava_options.py
  tests/test_internal_api.py
  tests/test_json_api.py
  tests/test_serialisation.py
Due: none

fix overflow of modal; fix #1481
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

core.file: handle UnicodeDecodeError; better error reporting
  frontend/src/reports/Error.svelte
  frontend/src/router.ts
  src/fava/core/file.py
  src/fava/json_api.py
  tests/__snapshots__/test_application.py-test_client_side_reports
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/__snapshots__/test_json_api.py-test_api_imports
  tests/conftest.py
  tests/data/invalid-unicode.beancount
  tests/test_core_file.py
  tests/test_json_api.py
Due: stylelint, eslint

try workaround for Safari not properly handling Enter on the filter form
  frontend/src/AutocompleteInput.svelte
  frontend/src/sidebar/FilterForm.svelte
Due: stylelint, eslint

Add calculation and disply for average of incomes and expenses
  frontend/css/base.css
  src/fava/application.py
  src/fava/templates/income_statement.html
  tests/test_application.py
Due: stylelint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  src/fava/core/__init__.py
  src/fava/core/filters.py
  src/fava/core/number.py
  src/fava/core/watcher.py
  src/fava/util/__init__.py
  src/fava/util/ranking.py
  tests/test_core.py
  tests/test_core_documents.py
  tests/test_json_api.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint

upgrade to svelte v4
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/reports/commodities/Commodities.svelte
  frontend/src/reports/documents/Documents.svelte
  frontend/src/reports/documents/load.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/load.ts
  frontend/src/reports/events/Events.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/import/load.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/routes.ts
  frontend/src/router.ts
  frontend/src/svelte-custom-elements.ts
Due: stylelint, eslint

editor: use tree-sitter parser for the CodeMirror editor
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ambient.d.ts
  frontend/src/codemirror/account-regex.ts
  frontend/src/codemirror/beancount-autocomplete.ts
  frontend/src/codemirror/beancount-indent.ts
  frontend/src/codemirror/beancount-stream-parser.ts
  frontend/src/codemirror/beancount.ts
  frontend/src/codemirror/setup.ts
  frontend/src/codemirror/tree-sitter-beancount.wasm
  frontend/src/codemirror/tree-sitter-parser.ts
  frontend/src/editor/SliceEditor.svelte
  frontend/src/modals/Context.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/load.ts
  frontend/test/parser.test.ts
  frontend/tsconfig.json
Due: stylelint, eslint

Fix offset of AppMenuItem
  frontend/src/reports/editor/AppMenuItem.svelte
Due: stylelint, eslint

Expose SliceEditor as a custom svelte component
  frontend/src/svelte-custom-elements.ts
  src/fava/templates/account.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/income_statement.html
  src/fava/templates/trial_balance.html
Due: eslint

Type-checking and Linting
  src/fava/ext/batch_edit/BatchEdit.js
  src/fava/ext/batch_edit/__init__.py
  src/fava/ext/batch_edit/templates/BatchEdit.html
Due: eslint
