Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 23.9.0
      hooks:
          - id: black
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.0.287
      hooks:
          - id: ruff
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            require_serial: true
            additional_dependencies:
                - "prettier@3.0.3"
                - "prettier-plugin-svelte@3.0.3"
                - "svelte@4.2.0"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            require_serial: true
            additional_dependencies:
                - "stylelint@15.10.3"
                - "stylelint-config-recess-order@4.3.0"
                - "stylelint-config-standard@34.0.0"
                - "postcss-html@1.5.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            require_serial: true
            files: frontend/.*\.(js|ts|svelte)$

prettier: ensure svelte files are formatted
  .editorconfig
  .github/workflows/docs-pages.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  contrib/pythonanywhere/README.md
  frontend/.prettierrc.cjs
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/journal/JournalFilters.svelte
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/modals/EntryContext.svelte
  frontend/src/reports/documents/Documents.svelte
  frontend/src/reports/documents/Table.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/events/Events.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/query/QueryEditor.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/tree-table/AccountCellHeader.svelte
  frontend/src/tree-table/IntervalTreeTable.svelte
  src/fava/help/_index.md
  src/fava/help/beancount_syntax.md
  src/fava/help/extensions.md
  src/fava/help/features.md
  src/fava/help/filters.md
  src/fava/help/options.md
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

lint
  frontend/src/entry-forms/Posting.svelte
Due: stylelint, eslint

Add support for posting metadata (#1722)
  frontend/src/entries.ts
  frontend/src/entry-forms/Posting.svelte
  frontend/test/entries.test.ts
  src/fava/serialisation.py
  tests/__snapshots__/test_json_api-test_api_context.json
  tests/__snapshots__/test_json_api-test_api_payee_transaction.json
  tests/test_serialisation.py
Due: stylelint, eslint

keyboard shortcuts: fix setting of data-key attr
  frontend/src/keyboard-shortcuts.ts
Due: eslint

implement multi-step conversion
  frontend/css/base.css
  frontend/css/charts.css
  frontend/css/style.css
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/lib/interval.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/editor/AppMenuItem.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/stores/chart.ts
  frontend/test/end-to-end-validation.test.ts
  pyproject.toml
  src/fava/application.py
  src/fava/beans/prices.py
  src/fava/context.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/conversion.py
  src/fava/core/inventory.py
  src/fava/core/tree.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  tests/test_core_conversion.py
Due: stylelint, eslint

conversion: add help page
  src/fava/help/__init__.py
  src/fava/help/_index.md
  src/fava/help/conversion.md
Due: none

changes
  CHANGES
Due: none

re-add old tree-table css and js for extension compatibility
  frontend/css/tree-table.css
  frontend/src/main.ts
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/TreeTable.svelte
  frontend/src/tree-table/tree-table-custom-element.ts
Due: stylelint, eslint

use grid layout and :has() selector
  frontend/css/layout.css
  frontend/css/media-mobile.css
  frontend/css/media-print.css
  frontend/css/notifications.css
  frontend/css/style.css
  frontend/src/main.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/notifications.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/src/router.ts
  pyproject.toml
  src/fava/core/attributes.py
  src/fava/core/query_shell.py
Due: eslint

Make `meta` property optional in `Posting` validation
  frontend/src/entries.ts
Due: eslint

Add test for entries without meta data
  frontend/test/entries.test.ts
Due: eslint

Add meta field to serialise function output
  tests/test_serialisation.py
Due: none

Refactor serialisation of posting meta as nullable
  src/fava/serialisation.py
Due: none

Update the snapshot with the posting meta field
  tests/__snapshots__/test_json_api-test_api_imports-2.json
Due: none

fix validation of missing posting meta
  frontend/src/entries.ts
  frontend/src/lib/fetch.ts
  frontend/src/lib/validation.ts
  frontend/test/entries.test.ts
Due: eslint

docs: add better explanation of export button
  src/fava/help/features.md
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

lint
  frontend/.prettierrc.cjs
  frontend/src/reports/query/Query.svelte
  frontend/stylelint.config.js
  pyproject.toml
  src/fava/core/__init__.py
  src/fava/core/query_shell.py
Due: stylelint, eslint

ingest: add typed protocols for importers
  pyproject.toml
  src/fava/application.py
  src/fava/beans/create.py
  src/fava/beans/ingest.py
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/commodities.py
  src/fava/core/extensions.py
  src/fava/core/ingest.py
  src/fava/core/inventory.py
  src/fava/core/misc.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/ext/auto_commit.py
  src/fava/serialisation.py
  src/fava/util/date.py
  tests/__snapshots__/test_core_ingest-test_ingest_examplefile.json
  tests/conftest.py
  tests/data/import_config.py
  tests/test_core.py
  tests/test_core_conversion.py
  tests/test_core_ingest.py
  tests/test_core_misc.py
  tests/test_util_date.py
Due: none

header: fix layout jumping with reload button
  frontend/css/layout.css
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

fixup
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

properly encode document filename in url
  frontend/src/reports/documents/DocumentPreview.svelte
Due: stylelint, eslint

deps; switch from black to ruff formatter
  .pre-commit-config.yaml
  constraints.txt
  contrib/scripts.py
  docs/conf.py
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  src/fava/core/__init__.py
  src/fava/core/filters.py
  src/fava/core/tree.py
  tests/test_ext.py
  tests/test_json_api.py
  tests/test_plugins_link_documents.py
  tests/test_plugins_tag_discovered_documents.py
Due: none

properly encode document filename in url (#1744)
  frontend/src/reports/documents/DocumentPreview.svelte
Due: stylelint, eslint

update ruff to v0.2.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/.prettierrc.cjs
  frontend/package-lock.json
Due: none

charts: better error handling; backwards-compat
  frontend/css/components.css
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/tooltip.ts
  frontend/src/lib/result.ts
  frontend/src/notifications.ts
  frontend/src/svelte-custom-elements.ts
Due: stylelint, eslint

internal_api: add separate dataclasses for chart types
  src/fava/internal_api.py
Due: none

charts: set viewBox on svg instead of width and height
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Treemap.svelte
Due: stylelint, eslint

g.filtered: lazily compute
  src/fava/application.py
Due: none

use custom Context class with cached properties for flask.g
  src/fava/_ctx_globals_class.py
  src/fava/application.py
  src/fava/context.py
Due: none

misc
  src/fava/core/__init__.py
  tests/test_core_number.py
Due: none

core.file: improve newline handling and tests
  pyproject.toml
  src/fava/cli.py
  src/fava/core/__init__.py
  src/fava/core/file.py
  src/fava/core/watcher.py
  tests/__snapshots__/test_core_file-test_render_entries
  tests/__snapshots__/test_json_api-test_api_imports.json
  tests/conftest.py
  tests/data/edit-example.beancount
  tests/test_application.py
  tests/test_core_file.py
  tests/test_core_watcher.py
  tests/test_json_api.py
Due: none

Remove price directive when deciding start date
  src/fava/core/__init__.py
Due: none

remove unnecessary tuple
  src/fava/core/__init__.py
Due: none

Remove price directive when deciding start date (#1759)
  src/fava/core/__init__.py
Due: none
