Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@15.10.1
  - stylelint-config-recess-order@4.2.0
  - stylelint-config-standard@34.0.0
  - postcss-html@1.5.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

fix: set store values from URL after loading page
  frontend/src/router.ts
Due: eslint

charts: also use chart legend for treemaps
  frontend/.eslintrc.js
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/lib/store.ts
  frontend/src/stores/chart.ts
Due: stylelint, eslint

charts: use svelte action to add prev/next keyboard shortcuts
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/keyboard-shortcuts.ts
  src/fava/help/_index.md
Due: stylelint, eslint

misc; add strict types for keyboard shortcuts
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/tooltip.ts
  frontend/src/codemirror/setup.ts
  frontend/src/editor/DocumentPreviewEditor.svelte
  frontend/src/editor/SaveButton.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/journal/JournalFilters.svelte
  frontend/src/keyboard-shortcuts.ts
  frontend/src/lib/events.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/query/QueryEditor.svelte
  frontend/src/reports/query/ReadonlyQueryEditor.svelte
  frontend/src/sidebar/SidebarLink.svelte
  frontend/test/events.test.ts
Due: stylelint, eslint

Add .js route to application.py
  src/fava/application.py
Due: none

make linter happy
  src/fava/application.py
Due: none

Fix editor error line number handling
  frontend/src/codemirror/editor-transactions.ts
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  src/fava/util/ranking.py
Due: none

Use a separate Jinja env per extension
  src/fava/application.py
  src/fava/ext/__init__.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

Add custom endpoints to extensions
  frontend/src/extensions.ts
  src/fava/application.py
  src/fava/ext/__init__.py
Due: eslint

add documentation and make some refactors
  frontend/src/extensions.ts
  src/fava/ext/__init__.py
Due: eslint

add tests for with_cost; improve api snapshots
  frontend/test/end-to-end-validation.test.ts
  pyproject.toml
  tests/__snapshots__/test_json_api.py-test_api-account_report_off_by_one
  tests/__snapshots__/test_json_api.py-test_api-account_report_off_by_one_journal
  tests/__snapshots__/test_json_api.py-test_api-balance_sheet
  tests/__snapshots__/test_json_api.py-test_api-balance_sheet_with_cost
  tests/__snapshots__/test_json_api.py-test_api-commodities
  tests/__snapshots__/test_json_api.py-test_api-documents
  tests/__snapshots__/test_json_api.py-test_api-events
  tests/__snapshots__/test_json_api.py-test_api-income_statement
  tests/__snapshots__/test_json_api.py-test_api-trial_balance
  tests/__snapshots__/test_json_api.py-test_api_commodities
  tests/__snapshots__/test_json_api.py-test_api_income_statement
  tests/conftest.py
  tests/test_json_api.py
  tox.ini
Due: eslint

tree-tables: shrink width a bit
  frontend/css/tree-table.css
  frontend/src/tree-table/TreeTable.svelte
Due: stylelint, eslint

hierarchy charts: infer sign from root balance
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/query-charts.ts
  frontend/src/lib/tree.ts
  frontend/test/charts.test.ts
  src/fava/internal_api.py
  tests/__snapshots__/test_internal_api.py-test_chart_api
  tests/__snapshots__/test_json_api.py-test_api-account_report_off_by_one
  tests/__snapshots__/test_json_api.py-test_api-balance_sheet
  tests/__snapshots__/test_json_api.py-test_api-balance_sheet_with_cost
  tests/__snapshots__/test_json_api.py-test_api-income_statement
  tests/__snapshots__/test_json_api.py-test_api-trial_balance
Due: eslint

deps; drop xls support
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/src/reports/query/QueryLinks.svelte
  setup.cfg
  src/fava/help/features.md
  src/fava/templates/_query_table.html
  src/fava/util/excel.py
Due: stylelint, eslint

update translations
  Makefile
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
  tox.ini
Due: none

use overflow: auto to fix #1667
  frontend/css/journal-table.css
Due: stylelint

css fixes
  frontend/css/base.css
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/reports/documents/Accounts.svelte
  frontend/src/reports/import/FileList.svelte
  frontend/src/tree-table/AccountCell.svelte
  src/fava/templates/statistics.html
Due: stylelint, eslint

sorting: sort before rendering
  frontend/src/reports/commodities/Commodities.svelte
  frontend/src/reports/commodities/CommodityTable.svelte
  frontend/src/reports/documents/Table.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/events/EventTable.svelte
  frontend/src/reports/events/Events.svelte
  frontend/src/sort.ts
  frontend/src/sort/SortHeader.svelte
  frontend/src/sort/index.ts
  frontend/src/stores/journal.ts
  src/fava/templates/options.html
  src/fava/templates/statistics.html
Due: stylelint, eslint

changes
  CHANGES
Due: none

Add button to skip duplicates in import extract
  frontend/src/reports/import/Extract.svelte
Due: stylelint, eslint

lint fixes
  frontend/src/reports/import/Extract.svelte
Due: stylelint, eslint

Off-by-one when clicking next
  frontend/src/reports/import/Extract.svelte
Due: stylelint, eslint

Add separate buttons to jump between non-duplicate entries
  frontend/src/reports/import/Extract.svelte
Due: stylelint, eslint

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|ts|svelte)$
