Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@14.16.1
  - stylelint-config-prettier@9.0.4
  - stylelint-config-recess-order@3.1.0
  - stylelint-config-standard@29.0.0
  - postcss-html@1.5.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

changes
  CHANGES
Due: none

Add frontend support for uploading files in the import screen
  frontend/src/api/index.ts
  frontend/src/reports/import/Import.svelte
Due: stylelint, eslint

Add backend for uploading a file to imports dir
  src/fava/core/ingest.py
  src/fava/json_api.py
  tests/test_json_api.py
Due: none

Make sure that the `beancount-files` dropdown is on top of other elements.
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

use ruff for import sorting
  .pre-commit-config.yaml
  contrib/scripts.py
  pyproject.toml
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/_compat.py
  src/fava/core/charts.py
  src/fava/core/ingest.py
  src/fava/core/inventory.py
  src/fava/serialisation.py
  src/fava/template_filters.py
  src/fava/util/typing.py
  tests/test_application.py
  tests/test_core_charts.py
  tests/test_core_file.py
  tests/test_core_ingest.py
  tests/test_core_query_shell.py
  tests/test_extensions.py
  tests/test_internal_api.py
  tests/test_json_api.py
  tests/test_serialisation.py
  tests/test_template_commodity_macros.py
  tests/test_template_tree_table.py
  tests/test_util.py
Due: none

document-preview: add xml, json as plain-text file types
  frontend/src/reports/documents/DocumentPreview.svelte
Due: stylelint, eslint

Use css-var for z-index
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

Make sure that the `beancount-files` dropdown is on top of other elements (#1552)
  frontend/src/sidebar/Header.svelte
Due: stylelint, eslint

Fix linting problems
  src/fava/json_api.py
Due: none

add pronounced line at zero in charts
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
Due: stylelint, eslint

fix docs build
  docs/conf.py
  src/fava/application.py
  src/fava/core/fava_options.py
  src/fava/templates/options.html
Due: none

ci: add check to see that docs/the website builds
  .github/workflows/test.yml
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: none

add read-only mode
  pyproject.toml
  src/fava/application.py
  src/fava/cli.py
  tests/test_application.py
Due: none

Avoid overwriting users changes to account/name when reloading the importer
  frontend/src/reports/import/Import.svelte
Due: stylelint, eslint

validation: allow error source to be null
  frontend/src/api/validators.ts
  frontend/src/entries.ts
  frontend/src/reports/errors/Errors.svelte
  src/fava/helpers.py
Due: stylelint, eslint

report exception during import of a custom extension
  src/fava/ext/__init__.py
  tests/test_ext.py
Due: none

Make whole interval the default
  src/fava/core/__init__.py
  src/fava/core/fava_options.py
  src/fava/util/date.py
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
Due: none

New approach for making sure we don't overwrite users changes.
  frontend/src/reports/import/Import.svelte
Due: stylelint, eslint

Show `errors` in `Editor`
  frontend/src/codemirror/setup.ts
  frontend/src/reports/editor/Editor.svelte
Due: stylelint, eslint

Fix lint errors
  frontend/src/api/validators.ts
  frontend/src/codemirror/setup.ts
  frontend/src/reports/editor/Editor.svelte
Due: stylelint, eslint

Intervals start at the beginning of the whole interval
  src/fava/util/date.py
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/__snapshots__/test_core_charts.py-test_net_worth
  tests/test_util_date.py
Due: none

update for types that Babel now ships
  src/fava/core/fava_options.py
  src/fava/core/number.py
  tests/test_core_number.py
  tox.ini
Due: none

fix #1560
  frontend/src/api/validators.ts
Due: eslint

fixup
  frontend/src/api/validators.ts
Due: eslint

Show `errors` in `Editor` (#1561)
  frontend/src/api/validators.ts
  frontend/src/codemirror/setup.ts
  frontend/src/reports/editor/Editor.svelte
Due: stylelint, eslint

frontend: fetch full list of errors globally
  frontend/src/api/validators.ts
  frontend/src/codemirror/setup.ts
  frontend/src/main.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/errors/load.ts
  frontend/src/reports/routes.ts
  frontend/src/sidebar/Aside.svelte
  frontend/src/stores/index.ts
  frontend/test/end-to-end-validation.test.ts
  src/fava/internal_api.py
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
Due: stylelint, eslint

use only currencies in data for bar chart
  frontend/src/charts/bar.ts
  frontend/test/charts.test.ts
Due: eslint

editor: fix 0 line numbers in diagnostics; refactor
  frontend/src/codemirror/beancount-format.ts
  frontend/src/codemirror/editor-transactions.ts
  frontend/src/codemirror/scroll-to-line.ts
  frontend/src/codemirror/setup.ts
  frontend/src/editor/DocumentPreviewEditor.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/query/QueryEditor.svelte
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/reports/editor/AppMenuItem.svelte
  pyproject.toml
  src/fava/template_filters.py
  tests/test_core_ingest.py
  tests/test_template_account_macros.py
  tests/test_util.py
Due: stylelint, eslint

DOC: development.rst: update pip install url from bitbucket to github
  docs/development.rst
Due: none

Add Entry form now presents last-saved date as default for new entries
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/modals/AddEntry.svelte
  frontend/src/stores/editor.ts
Due: stylelint, eslint

use importlib.metadata instead of pkg_resources
  pyproject.toml
  setup.cfg
  src/fava/__init__.py
Due: none

fix serialisation of MISSING numbers
  src/fava/core/charts.py
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/conftest.py
  tests/data/errors.beancount
  tests/test_json_api.py
Due: none

pin @codemirror/language temporarily; ref #1577
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: \.(js|ts|svelte)$
