Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
  skip: ["eslint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different --ignore-unknown
        require_serial: true
        additional_dependencies:
          - "prettier@3.2.4"
          - "prettier-plugin-svelte@3.1.2"
          - "svelte@4.2.9"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix
        files: \.(css|svelte)$
        require_serial: true
        additional_dependencies:
          - "stylelint@16.2.0"
          - "stylelint-config-recess-order@4.4.0"
          - "stylelint-config-standard@36.0.0"
          - "postcss-html@1.6.0"
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
        require_serial: true
        files: frontend/.*\.(js|ts|svelte)$

support fiscal year that starts one year later
  src/fava/util/date.py
  tests/test_core_attributes.py
  tests/test_util_date.py
Due: none

util.date: some refactors
  src/fava/help/options.md
  src/fava/util/date.py
  tests/test_util_date.py
Due: none

Remove chart controls in print view
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/SelectCombobox.svelte
Due: stylelint, eslint

Remove + and p buttons on Transaction screen
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

Automatically add posting field when last posting is non-empty
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

Removes two postings default
  frontend/src/entries.ts
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  pyproject.toml
  src/fava/ext/portfolio_list/__init__.py
Due: none

lint: remove airbnb base config
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/keyboard-shortcuts.ts
Due: stylelint, eslint

improve coverage
  pyproject.toml
  src/fava/beans/ingest.py
  src/fava/beans/prices.py
  src/fava/beans/types.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  src/fava/util/__init__.py
  src/fava/util/date.py
  tests/conftest.py
  tests/data/import_config.py
  tests/test_cli.py
Due: none

entry-form: minor fixes; ignore empty postings on serialisation
  frontend/src/entries.ts
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

Allow entry to be empty for automatic post
  frontend/src/entry-forms/AccountInput.svelte
Due: stylelint, eslint

entry-form: add JS class for Posting
  frontend/src/entries.ts
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

automatically add posting field when last posting is non-empty (#1762)
  frontend/src/entries.ts
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

Remove chart controls in print view (#1753)
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/SelectCombobox.svelte
Due: stylelint, eslint

misc: extract uncached_load into beans.load
  src/fava/beans/funcs.py
  src/fava/beans/helpers.py
  src/fava/beans/load.py
  src/fava/core/__init__.py
Due: none

link_documents: use entry date for link
  src/fava/plugins/link_documents.py
Due: none

use uv to generate constraints
  Makefile
  constraints-old.txt
  constraints.txt
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

ci,tox: use tox-uv; use package = wheel
  .github/workflows/docs-pages.yml
  .github/workflows/test.yml
  constraints.txt
  pyproject.toml
  tox.ini
Due: none

Makes Beancount a navigable link
  frontend/src/components/Link.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: stylelint, eslint

Add a note about building frontend code.
  docs/development.rst
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/router.ts
Due: eslint

_build_backend: add build_wheel
  _build_backend.py
Due: none

test: extract helpers in frontend tests
  frontend/test/charts.test.ts
  frontend/test/end-to-end-validation.test.ts
  frontend/test/helpers.ts
Due: eslint

Sort accounts store.
  frontend/src/stores/index.ts
Due: eslint

_build_backend: add build_editable
  _build_backend.py
  tests/test_build_backend.py
  tox.ini
Due: none

watchfiles watcher
  constraints-old.txt
  constraints.txt
  pyproject.toml
  src/fava/core/__init__.py
  src/fava/core/watcher.py
  tests/test_core_watcher.py
Due: none

Continue to watch files that are replaced.
  src/fava/core/watcher.py
Due: none

Test that updating a previously deleted file triggers the watcher.
  tests/test_core_watcher.py
Due: none

Bump minimum watchfiles to get ignore_permission_denied
  constraints-old.txt
  pyproject.toml
Due: none

test: reduce sleep time
  tests/test_core_watcher.py
Due: none

fixup! test: reduce sleep time
  tests/test_core_watcher.py
Due: none

Continue to watch files that are replaced. (#1781)
  constraints-old.txt
  pyproject.toml
  src/fava/core/watcher.py
  tests/test_core_watcher.py
Due: none
