Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
  skip: ["eslint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different --ignore-unknown
        require_serial: true
        additional_dependencies:
          - "prettier@3.2.5"
          - "prettier-plugin-svelte@3.2.3"
          - "svelte@4.2.15"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix
        files: \.(css|svelte)$
        require_serial: true
        additional_dependencies:
          - "stylelint@16.3.1"
          - "stylelint-config-recess-order@5.0.1"
          - "stylelint-config-standard@36.0.0"
          - "postcss-html@1.6.0"
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
        require_serial: true
        files: frontend/.*\.(js|ts|svelte)$

validation: add constants validator and other improvements
  frontend/src/api/validators.ts
  frontend/src/lib/validation.ts
  frontend/src/stores/chart.ts
  frontend/src/stores/journal.ts
  frontend/test/validation.test.ts
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

file made prettier
  src/fava/help/filters.md
  tests/test_util_date.py
Due: none

corrected the test to show difference between iso and %W week numbering
  tests/test_util_date.py
Due: none

fix svelte check
  frontend/src/api/index.ts
Due: eslint

parse tags and links again inside narration field
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/sidebar/FilterForm.svelte
Due: stylelint, eslint

fix lint-js
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/sidebar/FilterForm.svelte
Due: stylelint, eslint

fix lint-js
  frontend/src/api/index.ts
Due: eslint

improve journal entry contrasts
  frontend/css/style.css
Due: stylelint

reintroduce blue buttons
  frontend/css/style.css
Due: stylelint

fix low contrast in query editor
  frontend/css/style.css
  frontend/src/codemirror/beancount-highlight.ts
  frontend/src/codemirror/beancount.ts
  frontend/src/codemirror/setup.ts
  frontend/src/reports/editor/Editor.svelte
Due: stylelint, eslint

fix lint-js
  frontend/src/codemirror/setup.ts
Due: eslint

disable kebab stylelint for two css entries
  frontend/css/style.css
Due: stylelint

validation: use Error classes and add tagged union
  frontend/css/notifications.css
  frontend/src/api/index.ts
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/line.ts
  frontend/src/charts/scatterplot.ts
  frontend/src/entries.ts
  frontend/src/i18n.ts
  frontend/src/lib/dom.ts
  frontend/src/lib/errors.ts
  frontend/src/lib/json.ts
  frontend/src/lib/result.ts
  frontend/src/lib/validation.ts
  frontend/src/notifications.ts
  frontend/src/reports/Error.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/svelte-custom-elements.ts
  frontend/test/misc.test.ts
  frontend/test/result.test.ts
  frontend/test/validation.test.ts
Due: stylelint, eslint

support numerical comparison operators for amounts in filter
  src/fava/core/filters.py
  src/fava/help/filters.md
  tests/test_core_filters.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

deps: update c8
  frontend/package-lock.json
  frontend/package.json
Due: none

test: disable coverage for cli test
  src/fava/cli.py
  tests/test_cli.py
Due: none

consistent week number parsing (#1807)
  src/fava/help/filters.md
  src/fava/util/date.py
  tests/test_util_date.py
Due: none

add parsing of tags and links again
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  _build_backend.py
  constraints.txt
  frontend/package-lock.json
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  tests/conftest.py
  tests/test_cli.py
  tests/test_core_file.py
  tests/test_core_watcher.py
Due: none

add fava_ext_test extension for testing and as showcase
  frontend/src/svelte-custom-elements.ts
  src/fava/ext/__init__.py
  src/fava/ext/fava_ext_test/FavaExtTest.js
  src/fava/ext/fava_ext_test/__init__.py
  src/fava/ext/fava_ext_test/templates/FavaExtTest.html
  src/fava/ext/fava_ext_test/templates/FavaExtTestInclude.html
  tests/data/extension-report-example.beancount
  tests/test_application.py
  tests/test_extensions.py
Due: eslint

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

changes
  CHANGES
Due: none

fix: Respect ordering of provided ledgers
  src/fava/cli.py
  tests/test_cli.py
Due: none

fix: update Chinese translation for "Payee/Narration"
  src/fava/translations/zh/LC_MESSAGES/messages.po
Due: none

fix: update traditional Chinese translation for "Payee/Narration"
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

fix!: Respect default-file when inserting entries
  src/fava/core/file.py
  src/fava/help/options.md
Due: none

feat: Allow specifying the filename to default-file
  src/fava/core/fava_options.py
  src/fava/help/options.md
  tests/test_core_fava_options.py
Due: none

coverage: exclude portfolio_list
  tox.ini
Due: none

deps and lint
  .pre-commit-config.yaml
  constraints.txt
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/keyboard-shortcuts.ts
  frontend/src/lib/focus.ts
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/svelte-custom-elements.ts
  frontend/tsconfig.confs.json
  frontend/tsconfig.json
  pyproject.toml
  src/fava/beans/abc.py
  src/fava/beans/types.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/file.py
  src/fava/util/date.py
Due: stylelint, eslint

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Due: none

add arm64 docker build
  .github/workflows/docker-publish.yml
Due: none

fix format
  .github/workflows/docker-publish.yml
Due: none

Add `--poll-watcher` flag.
  src/fava/application.py
  src/fava/cli.py
  src/fava/core/__init__.py
Due: none

deps
  .pre-commit-config.yaml
  _build_backend.py
  constraints.txt
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/codemirror/beancount-format.ts
  frontend/src/document-upload.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/query/Query.svelte
  src/fava/beans/prices.py
  src/fava/core/charts.py
  src/fava/ext/__init__.py
  src/fava/util/date.py
Due: stylelint, eslint

frontend: fix error reported by svelte dev mode; increase test coverage
  frontend/build.ts
  frontend/src/helpers.ts
  frontend/src/reports/accounts/index.ts
  frontend/src/reports/events/EventTable.svelte
  frontend/test/end-to-end-validation.test.ts
  frontend/test/helpers.ts
  frontend/test/urls.test.ts
Due: stylelint, eslint

print: show non-empty filter inputs
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/HeaderIcon.svelte
Due: stylelint, eslint

editor: fix jump on save; no auto-reloading for editor and import
  frontend/src/main.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/router.ts
Due: stylelint, eslint
