Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 22.1.0
      hooks:
          - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.7.1
      hooks:
          - id: reorder-python-imports
            args:
                - "--application-directories=.:src"
                - "--add-import=from __future__ import annotations"
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.31.0
      hooks:
          - id: pyupgrade
            args: ["--py36-plus"]
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            additional_dependencies:
                - "prettier@2.5.1"
                - "prettier-plugin-svelte@2.6.0"
                - "svelte@3.46.4"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            additional_dependencies:
                - "stylelint@14.5.0"
                - "stylelint-config-prettier@9.0.3"
                - "stylelint-config-recess-order@3.0.0"
                - "stylelint-config-standard@25.0.0"
                - "postcss-html@1.3.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            files: \.(js|ts|svelte)$

tests: use ledger.all_* in some more places
  tests/test_core_tree.py
  tests/test_json_api.py
  tests/test_template_filters.py
Due: none

fix: do not filter ledger for get_changed or get_errors
  src/fava/application.py
Due: none

logging: correctly filter out requests to changed endpoint
  src/fava/util/__init__.py
Due: none

Fix modal size on mobile
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

Create SECURITY.md
  SECURITY.md
Due: none

contributing: add email for security issues
  CONTRIBUTING.md
Due: none

Fix modal size on mobile (#1431)
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

Initial stacked barchart implementation
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/helpers.ts
  frontend/src/stores/chart.ts
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  src/fava/templates/_charts.html
  src/fava/templates/account.html
  src/fava/templates/income_statement.html
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
Due: stylelint, eslint

Remove bucketing functionality. Add tests
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/bar.ts
  frontend/test/charts.test.ts
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  src/fava/templates/_charts.html
  src/fava/templates/account.html
  src/fava/templates/income_statement.html
  tests/__snapshots__/test_core_charts.py-test_interval_totals_children
  tests/__snapshots__/test_core_charts.py-test_interval_totals_children-2
  tests/test_core_charts.py
Due: stylelint, eslint

charts: minor refactors for stacked bar charts
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/bar.ts
  frontend/test/charts.test.ts
Due: stylelint, eslint

charts: refactors; move more logic to bar.ts
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/bar.ts
  frontend/test/charts.test.ts
Due: stylelint, eslint

charts: always generate interval_totals with sub-accounts
  src/fava/core/charts.py
  src/fava/templates/_charts.html
  src/fava/templates/account.html
  src/fava/templates/income_statement.html
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/test_core_charts.py
Due: none

fix: localStorage name clash
  frontend/src/charts/Chart.svelte
  frontend/src/stores/chart.ts
Due: stylelint, eslint

charts: strictly type chart modes
  frontend/src/charts/LineChart.svelte
  frontend/src/stores/chart.ts
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

explicit filtered ledger
  src/fava/application.py
  src/fava/context.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/query_shell.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/json_api.py
  src/fava/template_filters.py
  src/fava/templates/_charts.html
  src/fava/templates/_tree_table.html
  src/fava/templates/account.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/beancount_file
  src/fava/templates/commodities.html
  src/fava/templates/documents.html
  src/fava/templates/events.html
  src/fava/templates/holdings.html
  src/fava/templates/income_statement.html
  src/fava/templates/journal.html
  src/fava/templates/statistics.html
  src/fava/templates/trial_balance.html
  tests/conftest.py
  tests/test_core.py
  tests/test_core_charts.py
  tests/test_core_query_shell.py
  tests/test_template_filters.py
Due: none

tests: bump coverage requirement
  tox.ini
Due: none

Skip price entries in journal table
  src/fava/templates/_journal_table.html
Due: none

fava.core: add module for commodities
  src/fava/core/__init__.py
  src/fava/core/commodities.py
  src/fava/templates/macros/_commodity_macros.html
  tests/test_core.py
Due: none

frontend: also render numbers according to specified precision
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/line.ts
  frontend/src/format.ts
  frontend/src/stores/index.ts
  src/fava/templates/_layout.html
Due: stylelint, eslint

help: document commodity metadata
  src/fava/help/beancount_syntax.md
Due: none

commodities: allow for precision to be specified explicitly
  src/fava/core/commodities.py
  src/fava/core/number.py
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/data/long-example.beancount
  tests/test_core_commodities.py
  tests/test_json_api.py
Due: none

commodities: expose precisions on formatter
  src/fava/core/commodities.py
  src/fava/core/number.py
  tests/data/long-example.beancount
  tests/test_core_commodities.py
  tests/test_core_number.py
Due: none

fix: fava.core.commodities - remove unused func
  src/fava/core/commodities.py
  tests/test_core_commodities.py
Due: none

avoid use of |safe filter in templates
  src/fava/application.py
  src/fava/core/file.py
  src/fava/template_filters.py
  src/fava/templates/_layout.html
  src/fava/templates/errors.html
  src/fava/templates/help.html
Due: none

more direct imports and some typing
  contrib/scripts.py
  src/fava/application.py
  src/fava/context.py
Due: none

translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

changes
  CHANGES
Due: none

Bugfix: Mark extension generated content as safe
  src/fava/application.py
Due: none

Update setup.ts
  frontend/src/codemirror/setup.ts
Due: eslint

context: allow all types of entries
  frontend/src/api.ts
  frontend/src/entries.ts
  frontend/src/helpers.ts
  frontend/src/lib/validation.ts
  frontend/src/modals/EntryContext.svelte
Due: stylelint, eslint
