Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 22.1.0
      hooks:
          - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.7.1
      hooks:
          - id: reorder-python-imports
            args:
                - "--application-directories=.:src"
                - "--add-import=from __future__ import annotations"
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.31.0
      hooks:
          - id: pyupgrade
            args: ["--py36-plus"]
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            additional_dependencies:
                - "prettier@2.5.1"
                - "prettier-plugin-svelte@2.6.0"
                - "svelte@3.46.4"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            additional_dependencies:
                - "stylelint@14.5.0"
                - "stylelint-config-prettier@9.0.3"
                - "stylelint-config-recess-order@3.0.0"
                - "stylelint-config-standard@25.0.0"
                - "postcss-html@1.3.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            files: \.(js|ts|svelte)$

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: none

lint
  tests/test_template_tree_table.py
  tox.ini
Due: none

respect default_page in ledger links
  src/fava/templates/_layout.html
Due: none

close #1455
  src/fava/templates/_journal_table.html
Due: none

Sort amount/inventory/position in query table as number, not string
  src/fava/templates/_query_table.html
Due: none

charts: minor refactors
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/Sunburst.svelte
Due: stylelint, eslint

router: refactor; mark some functions private
  frontend/src/editor/SourceEditor.svelte
  frontend/src/import/Import.svelte
  frontend/src/router.ts
Due: stylelint, eslint

ci: update gh actions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

editor: refactor menu into separate components
  frontend/src/editor/AppMenu.svelte
  frontend/src/editor/AppMenuItem.svelte
  frontend/src/editor/AppMenuSubItem.svelte
  frontend/src/editor/EditorMenu.svelte
  frontend/src/editor/Key.svelte
Due: stylelint, eslint

ensure all buttons have type
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/documents/Accounts.svelte
  frontend/src/editor/AppMenuSubItem.svelte
  frontend/src/editor/SaveButton.svelte
  frontend/src/entry-forms/AddMetadataButton.svelte
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/import/FileList.svelte
  src/fava/templates/_layout.html
Due: stylelint, eslint

remove sourcehut builds
  .builds/archlinux.yml
  .builds/debian.yml
  MANIFEST.in
Due: none

a11y
  frontend/css/base.css
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/helpers.ts
  frontend/src/documents/Accounts.svelte
  frontend/src/editor/EditorMenu.svelte
  frontend/src/import/FileList.svelte
Due: stylelint, eslint

lint with eslint-plugin-svelte
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Due: eslint

fixes for linting with eslint-plugin-svelte
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/codemirror/setup.ts
  frontend/src/documents/DocumentPreview.svelte
  frontend/src/editor/DocumentPreviewEditor.svelte
  frontend/src/editor/Editor.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/editor/SourceEditor.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/import/Extract.svelte
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/query/Query.svelte
  frontend/src/sidebar/index.ts
Due: stylelint, eslint

remove unused snapshots
  tests/__snapshots__/test_core_charts.py-test_interval_totals_children
  tests/__snapshots__/test_core_charts.py-test_interval_totals_children-2
Due: none

ledger-data: test Python->JS roundtrip with snapshot
  frontend/src/codemirror/setup.ts
  frontend/src/documents/DocumentPreview.svelte
  frontend/src/editor/EditorMenu.svelte
  frontend/src/editor/SourceEditor.svelte
  frontend/src/format.ts
  frontend/src/helpers.ts
  frontend/src/main.ts
  frontend/src/stores/index.ts
  frontend/test/validation-roundtrip.test.ts
  pyproject.toml
  src/fava/application.py
  src/fava/internal_api.py
  src/fava/templates/_layout.html
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/test_internal_api.py
Due: stylelint, eslint

charts: use svelte-component to explicitly add charts
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/index.ts
  frontend/src/stores/chart.ts
  frontend/test/end-to-end-validation.test.ts
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/internal_api.py
  src/fava/templates/_charts.html
  src/fava/templates/account.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/commodities.html
  src/fava/templates/events.html
  src/fava/templates/income_statement.html
  src/fava/templates/trial_balance.html
Due: stylelint, eslint

changes
  CHANGES
Due: none

deps
  .pre-commit-config.yaml
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Due: eslint

number formatting: clamp minimumFractionDigits
  frontend/src/format.ts
  frontend/test/format.test.ts
Due: eslint

document-upload: properly distinguish dropped files and links
  frontend/.eslintrc.js
  frontend/src/document-upload.ts
  frontend/src/modals/DocumentUpload.svelte
Due: stylelint, eslint

fix gh-pages make target
  Makefile
Due: none

also test on Python 3.11
  .github/workflows/test.yml
  setup.cfg
Due: none

Income statement graphs: re-add name of interval to graph labels
  src/fava/templates/income_statement.html
Due: none

flake8: fix ignore config for v6
  tox.ini
Due: none

ci: update actions
  .github/workflows/test.yml
Due: none

filtered: remove trivial getters
  src/fava/core/__init__.py
  src/fava/json_api.py
Due: none

render account indicators in frontend
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/context.ts
  frontend/src/charts/helpers.ts
  frontend/src/entries.ts
  frontend/src/format.ts
  frontend/src/main.ts
  frontend/src/reports/commodities/Commodities.svelte
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/AccountPageTitle.svelte
  frontend/src/sidebar/PageTitle.svelte
  frontend/src/stores/format.ts
  frontend/src/stores/index.ts
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/templates/macros/_account_macros.html
  src/fava/templates/statistics.html
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/__snapshots__/test_json_api.py-test_api_events
  tests/conftest.py
  tests/data/long-example.beancount
  tests/test_core.py
  tests/test_template_account_macros.py
Due: stylelint, eslint

more fine-grained change-tracking
  frontend/src/api.ts
  frontend/src/lib/fetch.ts
  frontend/src/main.ts
  frontend/src/stores/index.ts
  frontend/src/stores/mtime.ts
  src/fava/core/__init__.py
  src/fava/json_api.py
  src/fava/templates/_layout.html
  tests/__snapshots__/test_json_api.py-test_api_commodities
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/test_json_api.py
Due: eslint

header: render in frontend
  frontend/css/header.css
  frontend/src/keyboard-shortcuts.ts
  frontend/src/main.ts
  frontend/src/page-title.ts
  frontend/src/router.ts
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/HeaderAndAside.svelte
  frontend/src/sidebar/HeaderIcon.svelte
  frontend/src/sidebar/PageTitle.svelte
  frontend/src/sidebar/index.ts
  frontend/src/sidebar/page-title.ts
  frontend/src/stores/index.ts
  src/fava/internal_api.py
  src/fava/templates/_layout.html
  src/fava/templates/account.html
  src/fava/templates/macros/_account_macros.html
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
Due: stylelint, eslint

ts: enable noUncheckedIndexedAccess
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/ChartSwitcherTyped.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/codemirror/beancount-autocomplete.ts
  frontend/src/codemirror/beancount-fold.ts
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/helpers.ts
  frontend/src/i18n.ts
  frontend/src/lib/fuzzy.ts
  frontend/src/lib/paths.ts
  frontend/src/lib/validation.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/documents/Table.svelte
  frontend/src/reports/editor/SourceEditor.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/query/Query.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/sync-pre-commit.ts
  frontend/tsconfig.json
Due: stylelint, eslint

add back grey account indicator; fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/AccountPageTitle.svelte
  frontend/src/stores/index.ts
Due: stylelint, eslint
