Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: ./frontend/node_modules/stylelint/bin/stylelint.js --fix

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0

fetch updated french translations
  src/fava/translations/fr/LC_MESSAGES/messages.po
Due: none

setup: bump minimum dependency versions
  setup.cfg
  tox.ini
Due: none

help: update insert-entry help text
  src/fava/help/options.md
Due: none

deps
  frontend/package-lock.json
  frontend/package.json
Due: none

changes
  CHANGES
Due: none

setup: add project_urls
  setup.cfg
Due: none

ext: add before_insert_entry hook to core/extensions
  src/fava/core/extensions.py
Due: none

makefile: use find to get all deps
  Makefile
  docs/conf.py
Due: none

fix loading of translations in frontend
  frontend/src/charts/index.ts
  frontend/src/i18n.ts
  frontend/src/lib/dom.ts
  frontend/src/lib/validation.ts
  frontend/src/main.ts
Due: eslint

update changes
  CHANGES
Due: none

ext: add test case for before_insert_entry hook
  tests/test_extensions.py
Due: none

deps
  .pre-commit-config.yaml
  Makefile
  frontend/package-lock.json
  frontend/package.json
Due: none

lint
  frontend/css/charts.css
  frontend/css/editor.css
  frontend/css/notifications.css
  frontend/css/style.css
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/documents/Accounts.svelte
  frontend/src/documents/DocumentPreview.svelte
  frontend/src/documents/Documents.svelte
  frontend/src/documents/Table.svelte
  frontend/src/editor/Editor.svelte
  frontend/src/editor/SourceEditor.svelte
  frontend/src/import/FileList.svelte
  frontend/src/import/Import.svelte
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

types: remove ignore comments
  src/fava/application.py
  src/fava/json_api.py
Due: none

tests: types for util.date tests
  src/fava/core/fava_options.py
  tests/test_core_fava_options.py
  tests/test_util_date.py
Due: none

typing for request context in tests
  tests/test_application.py
  tests/test_json_api.py
  tests/test_template_filters.py
Due: none

pylint: remove some unneeded disables
  pylintrc
Due: none

improve test coverage
  src/fava/__init__.py
  src/fava/application.py
  src/fava/core/_compat.py
  src/fava/core/attributes.py
  src/fava/core/budgets.py
  src/fava/core/documents.py
  src/fava/core/extensions.py
  src/fava/core/file.py
  src/fava/core/ingest.py
  src/fava/core/misc.py
  src/fava/core/module_base.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/ext/__init__.py
  src/fava/ext/auto_commit.py
  src/fava/plugins/tag_discovered_documents.py
  src/fava/template_filters.py
  tests/test_application.py
  tests/test_plugins_tag_discovered_documents.py
  tests/test_template_filters.py
Due: none

remove compatibility code for Flask <2
  src/fava/application.py
Due: none

fava_options: ensure collapse-pattern is a regex
  src/fava/core/fava_options.py
  src/fava/template_filters.py
  tests/test_core_fava_options.py
  tests/test_template_filters.py
Due: none

tox: always run coverage
  tox.ini
Due: none

snapshots: pretty-print json
  src/fava/core/charts.py
  tests/__snapshots__/test_application.py-test_download_journal
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals-3
  tests/__snapshots__/test_core_charts.py-test_interval_totals-4
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-3
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-4
  tests/__snapshots__/test_core_charts.py-test_linechart_data
  tests/__snapshots__/test_core_charts.py-test_linechart_data-2
  tests/__snapshots__/test_core_charts.py-test_linechart_data-3
  tests/__snapshots__/test_core_charts.py-test_linechart_data-4
  tests/__snapshots__/test_core_charts.py-test_linechart_data-5
  tests/__snapshots__/test_core_charts.py-test_linechart_data-6
  tests/__snapshots__/test_core_charts.py-test_linechart_data-7
  tests/__snapshots__/test_core_charts.py-test_linechart_data-8
  tests/__snapshots__/test_core_charts.py-test_net_worth
  tests/__snapshots__/test_core_charts.py-test_net_worth-2
  tests/__snapshots__/test_core_charts.py-test_query
  tests/__snapshots__/test_core_charts.py-test_query-2
  tests/__snapshots__/test_core_charts.py-test_query-3
  tests/__snapshots__/test_core_file.py-test_render_entries
  tests/__snapshots__/test_serialisation.py-test_deserialise_posting_and_format
  tests/__snapshots__/test_template_tree_table.py-test_render_diff_and_number
  tests/__snapshots__/test_template_tree_table.py-test_render_diff_and_number-2
  tests/__snapshots__/test_template_tree_table.py-test_render_diff_and_number-3
  tests/__snapshots__/test_template_tree_table.py-test_render_diff_and_number-4
  tests/conftest.py
  tests/test_core_charts.py
  tests/test_json_api.py
  tests/test_serialisation.py
Due: none

update zh
  src/fava/translations/zh/LC_MESSAGES/messages.po
Due: none

Update cli.py
  src/fava/cli.py
Due: none

lint css
  frontend/css/aside.css
  frontend/css/base.css
  frontend/css/charts.css
  frontend/css/components.css
  frontend/css/grid.css
  frontend/css/header.css
  frontend/css/journal-table.css
  frontend/css/style.css
  frontend/css/tree-table.css
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/documents/Accounts.svelte
  frontend/src/import/Extract.svelte
Due: stylelint, eslint

deps
  frontend/package-lock.json
  frontend/package.json
  frontend/stylelint.config.js
Due: eslint

lint
  frontend/build.ts
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/codemirror/beancount-format.ts
  frontend/src/document-upload.ts
  frontend/src/documents/Accounts.svelte
  frontend/src/import/Extract.svelte
  frontend/src/notifications.ts
Due: stylelint, eslint

pre-commit: update
  .pre-commit-config.yaml
Due: none

import: minor refactors
  frontend/src/import/FileList.svelte
  frontend/src/import/Import.svelte
  frontend/src/import/helpers.ts
Due: stylelint, eslint

autocomplete: absolute positioning
  frontend/css/aside.css
  frontend/src/AutocompleteInput.svelte
Due: stylelint, eslint

import: highlight selected file
  frontend/css/components.css
  frontend/css/style.css
  frontend/src/import/FileList.svelte
Due: stylelint, eslint

fuzzywrap: escape html
  frontend/src/lib/fuzzy.ts
  frontend/test/fuzzy.test.ts
Due: eslint

lint
  tests/test_ext.py
  tests/test_template_filters.py
  tests/test_util.py
Due: none

contributing: expand section about translations
  CONTRIBUTING.md
Due: none

deps
  frontend/package-lock.json
Due: none

fetch translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

ci: test python 3.10 and mark 3.10 as supported; drop 3.6
  .github/workflows/ci.yml
  setup.cfg
Due: none

Add Swedish translation
  src/fava/translations/sv/LC_MESSAGES/messages.po
Due: none

Enable Swedish translation
  src/fava/__init__.py
Due: none

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: \.(js|ts|svelte)$
