Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, stylelint, eslint

prettier:
  name: prettier
  language: node
  entry: prettier --write --list-different
  require_serial: true
  additional_dependencies:
  - prettier@3.3.3
  - prettier-plugin-svelte@3.3.2
  - svelte@4.2.19

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@16.10.0
  - stylelint-config-recess-order@5.1.1
  - stylelint-config-standard@36.0.1
  - postcss-html@1.7.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --config frontend/eslint.config.mjs --fix --max-warnings 0
  require_serial: true

Re-execute query on filter param change
  frontend/src/reports/query/Query.svelte
Due: prettier, stylelint, eslint

Ensure sidebar query URLs are updated when filter changes
  frontend/src/helpers.ts
  frontend/src/sidebar/AsideContents.svelte
Due: prettier, stylelint, eslint

util: use types from wsgiref.types
  src/fava/util/__init__.py
Due: none

autocomplete: migrate to Svelte 5 runes
  frontend/src/AutocompleteInput.svelte
Due: prettier, stylelint, eslint

svelte 5 now supports types in templates
  frontend/eslint.config.mjs
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/reports/documents/Documents.svelte
Due: prettier, stylelint, eslint

initial upgrade to Svelte 5
  frontend/build.ts
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/journal/index.ts
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/route.ts
  frontend/src/reports/routes.ts
  frontend/src/router.ts
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/index.ts
  frontend/src/svelte-custom-elements.ts
Due: prettier, stylelint, eslint

update dependencies to Svelte 5
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier

lint
  frontend/eslint.config.mjs
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/reports/editor/Editor.svelte
Due: prettier, stylelint, eslint

sidebar: migrate to Svelte 5 runes
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/AccountPageTitle.svelte
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/PageTitle.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: prettier, stylelint, eslint

use svelte rune to update props in frontend reports
  frontend/src/reports/route.svelte.ts
  frontend/src/reports/route.ts
Due: prettier, eslint

editor report: migrate to Svelte 5 runes
  frontend/src/reports/editor/AppMenu.svelte
  frontend/src/reports/editor/AppMenuItem.svelte
  frontend/src/reports/editor/AppMenuSubItem.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/editor/Key.svelte
Due: prettier, stylelint, eslint

charts: migrate to Svelte 5 runes
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/stores/chart.ts
  frontend/test/charts.test.ts
Due: prettier, stylelint, eslint

tree-reports: migrate to Svelte 5 runes
  frontend/src/reports/commodities/index.ts
  frontend/src/reports/documents/index.ts
  frontend/src/reports/editor/index.ts
  frontend/src/reports/events/index.ts
  frontend/src/reports/holdings/index.ts
  frontend/src/reports/tree_reports/BalanceSheet.svelte
  frontend/src/reports/tree_reports/IncomeStatement.svelte
  frontend/src/reports/tree_reports/TrialBalance.svelte
  frontend/src/reports/tree_reports/index.ts
  frontend/src/tree-table/AccountCell.svelte
  frontend/src/tree-table/AccountCellHeader.svelte
  frontend/src/tree-table/Diff.svelte
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/IntervalTreeTableNode.svelte
  frontend/src/tree-table/TreeTable.svelte
  frontend/src/tree-table/TreeTableNode.svelte
Due: prettier, stylelint, eslint

ensure filters are synced to URL in all reports
  frontend/src/api/index.ts
  frontend/src/extensions.ts
  frontend/src/helpers.ts
  frontend/src/modals/EntryContext.svelte
  frontend/src/modals/Export.svelte
  frontend/src/reports/documents/DocumentPreview.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/holdings/Holdings.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/options/Options.svelte
  frontend/src/reports/query/QueryLinks.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/SidebarLink.svelte
  frontend/src/stores/url.ts
  frontend/test/urls.test.ts
Due: prettier, stylelint, eslint

query: re-run opened queries on filter param change
  frontend/src/reports/query/Query.svelte
Due: prettier, stylelint, eslint

lint: use types to filter in pre-commit config
  .pre-commit-config.yaml
  frontend/prettier.config.cjs
  frontend/tsconfig.json
Due: prettier

changes
  CHANGES
Due: none

import: assert importer returns valid types
  src/fava/core/ingest.py
  tests/test_core_ingest.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: prettier

lint
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/hierarchy.ts
  frontend/src/lib/fuzzy.ts
  frontend/src/router.ts
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/tree-table/AccountCell.svelte
  src/fava/beans/account.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/inventory.py
  src/fava/core/number.py
  src/fava/core/watcher.py
  src/fava/ext/__init__.py
  src/fava/json_api.py
  src/fava/util/__init__.py
  tests/conftest.py
  tests/test_core_query_shell.py
Due: prettier, stylelint, eslint

serialisation: serialise custom values
  src/fava/serialisation.py
  tests/__snapshots__/test_serialisation-test_serialise_entry_types.json
  tests/test_serialisation.py
Due: prettier

tree-reports: sort by account names
  frontend/src/charts/hierarchy.ts
  frontend/src/sort/index.ts
Due: prettier, eslint

tmp - use git-installed Beancount for type checking
  Makefile
  constraints-git.txt
  constraints-old.txt
  pyproject.toml
  requirements.txt
  tox.ini
Due: none

try out more complete Beancount types
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/beans/load.py
  src/fava/beans/str.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/serialisation.py
  stubs/beancount/__init__.pyi
  stubs/beancount/core/__init__.pyi
  stubs/beancount/core/account.pyi
  stubs/beancount/core/amount.pyi
  stubs/beancount/core/data.pyi
  stubs/beancount/core/display_context.pyi
  stubs/beancount/core/inventory.pyi
  stubs/beancount/core/number.pyi
  stubs/beancount/core/position.pyi
  stubs/beancount/loader.pyi
  stubs/beancount/parser/__init__.pyi
  stubs/beancount/parser/options.pyi
  stubs/beancount/parser/parser.pyi
  stubs/beancount/utils/__init__.pyi
  stubs/beancount/utils/encryption.pyi
  stubs/beanquery/__init__.pyi
  tests/data/import_config.py
  tests/test_core_ingest.py
  tests/test_util_excel.py
Due: none

Fix beancount3 duplicate logic
  src/fava/core/ingest.py
Due: none

import: interpret any non-false value as truish in duplicate metadata
  frontend/src/entries.ts
Due: prettier, eslint

tree-table: use effect to update not-shown accounts
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/TreeTable.svelte
Due: prettier, stylelint, eslint

Bulk importer for Fava
  frontend/css/bulk-importer.css
  frontend/css/style.css
  frontend/src/api/validators.ts
  frontend/src/main.ts
  frontend/src/reports/bulkimporter/BulkExtract.svelte
  frontend/src/reports/bulkimporter/IndividualEntryEdit.svelte
  frontend/src/reports/bulkimporter/OtherEntryRow.svelte
  frontend/src/reports/bulkimporter/SimpleTransactionRow.svelte
  frontend/src/reports/bulkimporter/index.ts
  frontend/src/reports/import/FileList.svelte
  frontend/src/reports/import/Import.svelte
  src/fava/core/fava_options.py
Due: prettier, stylelint, eslint

filters: Match metadata keys for postings as well
  src/fava/core/filters.py
  src/fava/help/filters.md
Due: none

Add theme style switch buttons
  frontend/css/style.css
  frontend/src/main.ts
  frontend/src/reports/options/Options.svelte
  frontend/src/reports/options/ThemeToggle.svelte
  frontend/src/stores/theme.ts
Due: prettier, stylelint, eslint

contrib: update pythonanywhere files
  contrib/pythonanywhere/README.md
  contrib/pythonanywhere/fava/fava_pythonanywhere_com_wsgi.py
  contrib/pythonanywhere/fava/update.sh
  contrib/pythonanywhere/favadev/favadev_pythonanywhere_com_wsgi.py
  contrib/pythonanywhere/favadev/update.sh
  contrib/pythonanywhere/favatests/favatests_eu_pythonanywhere_com_wsgi.py
  contrib/pythonanywhere/favatests/update.sh
Due: none

deps; temporarily exclude 3.9 in CI
  .github/workflows/test.yml
  .pre-commit-config.yaml
  constraints.txt
  frontend/css/base.css
  frontend/package-lock.json
  frontend/package.json
  frontend/src/codemirror/editor-transactions.ts
  frontend/src/entries.ts
  frontend/src/reports/documents/Documents.svelte
  frontend/src/sidebar/FilterForm.svelte
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/beans/str.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  tests/data/import_config.py
Due: prettier, stylelint, eslint

try out more complete Beancount types
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/beans/load.py
  src/fava/beans/str.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/filters.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/serialisation.py
  stubs/beancount/__init__.pyi
  stubs/beancount/core/__init__.pyi
  stubs/beancount/core/account.pyi
  stubs/beancount/core/amount.pyi
  stubs/beancount/core/data.pyi
  stubs/beancount/core/display_context.pyi
  stubs/beancount/core/inventory.pyi
  stubs/beancount/core/number.pyi
  stubs/beancount/core/position.pyi
  stubs/beancount/loader.pyi
  stubs/beancount/parser/__init__.pyi
  stubs/beancount/parser/options.pyi
  stubs/beancount/parser/parser.pyi
  stubs/beancount/utils/__init__.pyi
  stubs/beancount/utils/encryption.pyi
  stubs/beanquery/__init__.pyi
  tests/test_core_ingest.py
  tests/test_util_excel.py
Due: none

fix: iso week usage
  frontend/src/format.ts
  frontend/test/format.test.ts
  src/fava/util/date.py
  tests/test_util_date.py
Due: prettier, eslint

chore: add ruff to dev deps
  pyproject.toml
Due: none

update tree-sitter-beancount.wasm
  frontend/src/codemirror/tree-sitter-beancount.wasm
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/codemirror/beancount.ts
  frontend/src/codemirror/tree-sitter-parser.ts
  frontend/test/parser.test.ts
Due: prettier, eslint

pre-commit: add ts type for prettier
  .pre-commit-config.yaml
Due: prettier

lint: drop pylint
  constraints.txt
  pyproject.toml
  tox.ini
Due: none

ci: remove pyinstaller build
  .github/workflows/test.yml
  constraints.txt
  contrib/pyinstaller_spec.spec
  pyproject.toml
  tox.ini
Due: none

Path conditions:
  prettier: any of: \.(css|js|mjs|ts|svelte|yaml|json)$
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|mjs|ts|svelte)$
