Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: ./frontend/node_modules/stylelint/bin/stylelint.js --fix

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0

Add flamegraph hierarchy visualisation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/charts/Chart.svelte
  frontend/src/charts/Flamegraph.svelte
  frontend/src/charts/HierarchyContainer.svelte
Due: stylelint, eslint

Update development.rst: Add extra commands
  docs/development.rst
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

update mypy and improve typings
  src/fava/json_api.py
  src/fava/serialisation.py
  tests/test_serialisation.py
  tox.ini
Due: none

add swedish translations
  src/fava/__init__.py
  src/fava/help/options.md
Due: none

fetch translations
  src/fava/translations/sv/LC_MESSAGES/messages.po
Due: none

development.rst: expand section on required tools and suggest venv
  docs/development.rst
  docs/index.rst
  docs/usage.rst
Due: none

appease mypy
  src/fava/serialisation.py
Due: none

deps
  .pre-commit-config.yaml
  Makefile
  frontend/package-lock.json
Due: none

remove unused type: ignore comment
  src/fava/cli.py
Due: none

allow negative account values in treemap/hierarchy
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/hierarchy.ts
Due: stylelint, eslint

only include positive accounts in treemap
  frontend/src/charts/hierarchy.ts
Due: eslint

improve Makefile
  Makefile
Due: none

add py.typed marker to package
  src/fava/py.typed
Due: none

switch to pep517 build
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Due: none

ci: add babel to build deps on sourcehut
  .builds/archlinux.yml
  .builds/debian.yml
Due: none

ci: rename workflow file and job name
  .github/workflows/test.yml
Due: none

fava_options: use dataclass
  frontend/src/editor/EditorMenu.svelte
  frontend/src/editor/SourceEditor.svelte
  frontend/src/stores/index.ts
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/attributes.py
  src/fava/core/documents.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/misc.py
  src/fava/core/number.py
  src/fava/json_api.py
  src/fava/template_filters.py
  src/fava/templates/_aside.html
  src/fava/templates/_journal_table.html
  src/fava/templates/_layout.html
  src/fava/templates/account.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/editor.html
  src/fava/templates/import.html
  src/fava/templates/income_statement.html
  src/fava/templates/macros/_account_macros.html
  src/fava/templates/options.html
  tests/test_application.py
  tests/test_core_documents.py
  tests/test_core_fava_options.py
  tests/test_core_number.py
  tests/test_json_api.py
  tests/test_template_filters.py
Due: stylelint, eslint

fava.core: from __future__ import annotations
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/conversion.py
  src/fava/core/documents.py
  src/fava/core/entries_by_type.py
  src/fava/core/extensions.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/inventory.py
  src/fava/core/misc.py
  src/fava/core/module_base.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/core/watcher.py
Due: none

fava.util: from __future__ import annotations
  src/fava/util/__init__.py
  src/fava/util/date.py
  src/fava/util/excel.py
  src/fava/util/ranking.py
  src/fava/util/sets.py
  src/fava/util/typing.py
Due: none

fava.*: from __future__ import annotations
  src/fava/application.py
  src/fava/cli.py
  src/fava/context.py
  src/fava/json_api.py
  src/fava/serialisation.py
  src/fava/template_filters.py
Due: none

deps
  frontend/package-lock.json
Due: none

sidebar: do not highlight selected in submenus
  frontend/src/sidebar/index.ts
  src/fava/templates/_aside.html
Due: eslint

fix one dashed use of option in frontend
  Makefile
  frontend/src/main.ts
Due: eslint

Correct HTML in journal table
  src/fava/templates/_journal_table.html
Due: none

json_api: basic validation of parameters
  frontend/src/api.ts
  src/fava/core/charts.py
  src/fava/json_api.py
  tests/conftest.py
  tests/test_application.py
  tests/test_json_api.py
Due: eslint

json_api: fewer uses of Any
  src/fava/core/charts.py
  src/fava/json_api.py
  src/fava/templates/_layout.html
Due: none

json_api: improve tests
  Makefile
  src/fava/json_api.py
  src/fava/templates/_context.html
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/conftest.py
  tests/data/example.beancount
  tests/data/import.beancount
  tests/data/query-example.beancount
  tests/test_json_api.py
Due: none

context: render modal in frontend
  frontend/src/api.ts
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/entries.ts
  frontend/src/entry-forms/metadata.ts
  frontend/src/helpers.ts
  frontend/src/modals/Context.svelte
  frontend/src/modals/EntryContext.svelte
  frontend/src/sidebar/AccountSelector.svelte
  src/fava/core/__init__.py
  src/fava/json_api.py
  src/fava/serialisation.py
  src/fava/templates/_context.html
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/conftest.py
Due: stylelint, eslint

json_api: also use api_endpoint decorator for add_document
  src/fava/json_api.py
  tests/test_json_api.py
Due: none

Add support for the query 'clear' command
  frontend/src/query/Query.svelte
  frontend/src/stores/query.ts
Due: stylelint, eslint

Linter fixes
  frontend/src/query/Query.svelte
  frontend/src/stores/query.ts
Due: stylelint, eslint

Linter fixes
  frontend/src/stores/query.ts
Due: eslint

Fix exact matches not showing in the autocomplete list
  frontend/src/AutocompleteInput.svelte
Due: stylelint, eslint

Add support for the query 'clear' command (#1366)
  frontend/src/query/Query.svelte
  frontend/src/stores/query.ts
Due: stylelint, eslint

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: \.(js|ts|svelte)$
