Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@15.10.3
  - stylelint-config-recess-order@4.3.0
  - stylelint-config-standard@34.0.0
  - postcss-html@1.5.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

tree table: restore v1.25 layout
  frontend/src/reports/tree_reports/IncomeStatement.svelte
  frontend/src/stores/accounts.ts
  src/fava/json_api.py
  tests/__snapshots__/test_json_api.py-test_api-income_statement
Due: stylelint, eslint

conversion: fixup docs and typing
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/stores/chart.ts
Due: stylelint, eslint

tooltips: fix for hidden elements; hide on scroll
  frontend/src/keyboard-shortcuts.ts
Due: eslint

linechart: only one value per date
  src/fava/beans/account.py
  src/fava/core/charts.py
  tests/__snapshots__/test_json_api-test_api-account_report_off_by_one.json
  tests/__snapshots__/test_json_api-test_api-account_report_off_by_one_journal.json
Due: none

account_journal: iterate over all entries directly
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/charts.py
  src/fava/core/conversion.py
  src/fava/core/inventory.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/json_api.py
  src/fava/template_filters.py
  src/fava/templates/_journal_table.html
  src/fava/templates/macros/_commodity_macros.html
  src/fava/templates/statistics.html
  stubs/beancount/core/realization.pyi
  tests/__snapshots__/test_json_api-test_api-account_report_off_by_one_journal.json
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/codemirror/beancount.ts
  tests/conftest.py
Due: eslint

add workaround for broken mimetype for Javascript
  src/fava/application.py
Due: none

fixup
  src/fava/application.py
Due: none

lint
  pyproject.toml
  src/fava/application.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/beans/helpers.py
  src/fava/cli.py
  src/fava/core/__init__.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/filters.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/ext/__init__.py
  src/fava/internal_api.py
  src/fava/json_api.py
  src/fava/template_filters.py
  src/fava/templates/macros/_commodity_macros.html
  stubs/beancount/loader.pyi
  tests/conftest.py
  tests/test_application.py
  tests/test_core_budgets.py
  tests/test_core_file.py
  tests/test_extensions.py
  tests/test_json_api.py
  tests/test_serialisation.py
  tests/test_template_filters.py
  tox.ini
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

Add instruction to install Babel for development
  docs/development.rst
Due: none

for pages with exactly two graphs: fix graph cycling shortcuts
  frontend/src/charts/ChartSwitcher.svelte
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

align naming
  frontend/src/charts/ChartSwitcher.svelte
Due: stylelint, eslint

for pages with exactly two graphs: fix graph cycling shortcuts (#1683)
  frontend/src/charts/ChartSwitcher.svelte
Due: stylelint, eslint

uri-decode account name to enable umlauts in account names
  frontend/src/reports/accounts/index.ts
Due: eslint

decodeURI in getUrlPath
  frontend/src/helpers.ts
  frontend/src/reports/accounts/index.ts
Due: eslint

add test for getUrlPath
  frontend/src/helpers.ts
  frontend/test/end-to-end-validation.test.ts
Due: eslint

uri-decode account name to enable umlauts in account names (#1682)
  frontend/src/helpers.ts
  frontend/test/end-to-end-validation.test.ts
Due: eslint

lint
  src/fava/application.py
  src/fava/beans/create.py
  src/fava/beans/helpers.py
  tests/test_serialisation.py
Due: none

Add instruction to install Babel for development (#1680)
  docs/development.rst
Due: none

Add new postings automatically if needed
  frontend/src/AutocompleteInput.svelte
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

setup: move project metadata to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

add custom build backend script
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Makefile
  _build_backend.py
  constraints.txt
  docs/development.rst
  frontend/package-lock.json
  pyproject.toml
  src/fava/ext/auto_commit.py
  tests/test_cli.py
  tox.ini
Due: none

Fix the style issue of cost in journal table.
  frontend/css/journal-table.css
Due: stylelint

feat: nested price conversion
  src/fava/beans/prices.py
  src/fava/core/conversion.py
Due: none

test: unit test
  tests/test_beans.py
Due: none

chore: ignore pdm stuffs
  .gitignore
Due: none

fix: tests and linter
  src/fava/beans/prices.py
  src/fava/core/conversion.py
  tests/__snapshots__/test_core_charts-test_linechart_data-4.json
  tests/__snapshots__/test_core_charts-test_net_worth.json
  tests/test_beans.py
Due: none

feat: fast path
  src/fava/beans/prices.py
Due: none

fix: snapshot tests
  tests/__snapshots__/test_core_charts-test_linechart_data-4.json
  tests/__snapshots__/test_core_charts-test_net_worth.json
Due: none

ci: use Python 3.12
  .github/workflows/publish.yml
  .github/workflows/test.yml
  constraints-old.txt
  constraints.txt
  frontend/package-lock.json
  pyproject.toml
  tox.ini
Due: none

fix #1674
  frontend/src/modals/AddEntry.svelte
Due: stylelint, eslint

use Object.hasOwn
  frontend/src/lib/validation.ts
  frontend/tsconfig.json
Due: eslint

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|ts|svelte)$
