Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 22.1.0
      hooks:
          - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.7.1
      hooks:
          - id: reorder-python-imports
            args:
                - "--application-directories=.:src"
                - "--add-import=from __future__ import annotations"
    - repo: https://github.com/PyCQA/flake8
      rev: 4.0.1
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.31.0
      hooks:
          - id: pyupgrade
            args: ["--py36-plus"]
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            additional_dependencies:
                - "prettier@2.5.1"
                - "prettier-plugin-svelte@2.6.0"
                - "svelte@3.46.4"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            additional_dependencies:
                - "stylelint@14.5.0"
                - "stylelint-config-prettier@9.0.3"
                - "stylelint-config-recess-order@3.0.0"
                - "stylelint-config-standard@25.0.0"
                - "postcss-html@1.3.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            files: \.(js|ts|svelte)$

fix: precision may be integer 0
  src/fava/core/commodities.py
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/data/long-example.beancount
  tests/test_core_commodities.py
Due: none

fix: precision may be integer 0 (#1445)
  src/fava/core/commodities.py
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/data/long-example.beancount
  tests/test_core_commodities.py
Due: none

Fix i18n files of msgid "Converted to %(currency)s"
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

fix #1453
  src/fava/templates/_charts.html
Due: none

fix xss issue in query filter
  frontend/src/modals/EntryContext.svelte
  frontend/src/query/Query.svelte
Due: stylelint, eslint

add conversion_currencies option
  frontend/src/stores/chart.ts
  frontend/src/stores/index.ts
  src/fava/core/fava_options.py
  src/fava/help/options.md
  tests/test_core_fava_options.py
Due: eslint

make some more strings translateable
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/journal/JournalFilters.svelte
  src/fava/templates/_charts.html
  src/fava/translations/babel.conf
Due: stylelint, eslint

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

add unrealized profit and loss column in Holdings
  src/fava/templates/holdings.html
Due: none

deps
  frontend/package-lock.json
Due: none

editor: indent with tab
  frontend/src/codemirror/setup.ts
  src/fava/help/features.md
Due: eslint

docs: add note that one should use recent deps
  docs/development.rst
Due: none

help: add query chart example
  src/fava/help/features.md
Due: none

manifest: remove some excludes
  MANIFEST.in
Due: none

temporarily disable sourcehut Arch build
  .builds/archlinux.yml
Due: none

lazily create tooltip and notification div
  frontend/src/charts/tooltip.ts
  frontend/src/notifications.ts
Due: eslint

create tooltip contents in a xss-safe way
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/context.ts
  frontend/src/charts/line.ts
  frontend/src/charts/tooltip.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/sidebar/index.ts
Due: stylelint, eslint

lint
  src/fava/application.py
  tests/test_application.py
Due: none

Revert "temporarily disable sourcehut Arch build"
  .builds/archlinux.yml
Due: none

simpler serialisation for tags and links
  frontend/src/entries.ts
  frontend/src/entry-forms/Transaction.svelte
  src/fava/serialisation.py
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/test_json_api.py
  tests/test_serialisation.py
Due: stylelint, eslint

fix Flask deprecation warnings; more direct imports
  pyproject.toml
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/_compat.py
  src/fava/core/charts.py
  src/fava/core/documents.py
  src/fava/core/extensions.py
  src/fava/core/ingest.py
  src/fava/core/tree.py
  src/fava/core/watcher.py
  src/fava/ext/auto_commit.py
  src/fava/json_api.py
  src/fava/serialisation.py
  src/fava/template_filters.py
  src/fava/util/__init__.py
  src/fava/util/typing.py
  tests/test_application.py
  tests/test_json_api.py
Due: none

ci: run old_deps in ci; increase min Beancount version
  .github/workflows/test.yml
  setup.cfg
  tox.ini
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: none

remove deprecated FavaLedger attributes
  src/fava/core/__init__.py
  tests/test_core.py
Due: none

tests: add test for Pattern jsonification
  tests/test_core_fava_options.py
Due: none

Allow extensions flexibility in chart placement
  src/fava/templates/_layout.html
Due: none

account tree table: fix end date in links
  src/fava/template_filters.py
  src/fava/templates/_tree_table.html
Due: none

deps
  .pre-commit-config.yaml
  contrib/scripts.py
  frontend/package-lock.json
  frontend/package.json
Due: none

query_shell: fix docstrings
  src/fava/core/query_shell.py
Due: none

account tree table: use time filter intervals
  src/fava/template_filters.py
  src/fava/templates/_tree_table.html
  src/fava/util/date.py
  tests/test_template_filters.py
  tests/test_util_date.py
Due: none

account tree table: use time filter intervals for table cells
  src/fava/templates/_tree_table.html
Due: none
