Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/psf/black
      rev: 21.8b0
      hooks:
          - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.6.0
      hooks:
          - id: reorder-python-imports
            args: ["--application-directories=.:src"]
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.25.0
      hooks:
          - id: pyupgrade
            args: ["--py36-plus"]
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry:
                ./frontend/node_modules/prettier/bin-prettier.js --write
                --list-different --ignore-unknown
          - id: stylelint
            name: stylelint
            language: node
            entry: ./frontend/node_modules/stylelint/bin/stylelint.js --fix
            files: \.(css|svelte)$
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            files: \.(js|ts|svelte)$

fix: ensure serialisation works for all entry types
  src/fava/serialisation.py
  tests/__snapshots__/test_serialisation.py-test_serialise_entry_types
  tests/test_serialisation.py
Due: none

typing
  src/fava/application.py
  src/fava/core/accounts.py
  src/fava/helpers.py
  src/fava/template_filters.py
  src/fava/util/__init__.py
Due: none

remove unnecessary |safe and some test refactors
  src/fava/templates/_layout.html
  src/fava/templates/documents.html
  src/fava/templates/editor.html
  src/fava/templates/import.html
  tests/test_core_file.py
  tests/test_core_watcher.py
  tests/test_json_api.py
Due: none

use dataclasses instead of TypedDict
  src/fava/core/charts.py
  src/fava/core/tree.py
  tests/test_core_charts.py
Due: none

add stubs for two more Beancount modules
  src/fava/application.py
  src/fava/core/__init__.py
  stubs/beancount/utils/encryption.pyi
  stubs/beancount/utils/text_utils.pyi
Due: none

fava_options: reverse entries
  src/fava/core/fava_options.py
  src/fava/templates/_journal_table.html
Due: none

plugins.forecast
  setup.cfg
  src/fava/plugins/forecast.py
Due: none

move config for dev tools to pyproject.toml
  pylintrc
  pyproject.toml
  setup.cfg
Due: none

account selector: allow explicit selection of typed account
  frontend/css/aside.css
  frontend/src/AutocompleteInput.svelte
  frontend/src/sidebar/AccountSelector.svelte
Due: stylelint, eslint

fix pytest warning
  tests/test_json_api.py
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/src/charts/Axis.svelte
  frontend/src/charts/Treemap.svelte
Due: stylelint, eslint

cli: error on port in use
  src/fava/cli.py
  tests/conftest.py
  tests/test_cli.py
Due: none

fix: charts: use ledger end_date in hierarchy charts
  src/fava/templates/_charts.html
Due: none

remove dead code
  src/fava/application.py
Due: none

simplify commodity_names logic; do not show None in tooltip
  src/fava/core/__init__.py
  src/fava/templates/macros/_commodity_macros.html
  tests/test_core.py
Due: none

remove unnecessary non-breaking spaces in templates
  src/fava/ext/portfolio_list/templates/PortfolioList.html
  src/fava/templates/_aside.html
  src/fava/templates/_journal_table.html
  src/fava/templates/_layout.html
  src/fava/templates/_query_table.html
  src/fava/templates/_tree_table.html
  src/fava/templates/account.html
  src/fava/templates/beancount_file
  src/fava/templates/commodities.html
  src/fava/templates/errors.html
  src/fava/templates/events.html
  src/fava/templates/help.html
  src/fava/templates/holdings.html
  src/fava/templates/macros/_account_macros.html
  src/fava/templates/options.html
  src/fava/templates/statistics.html
Due: none

docs: add note pip v21.3 is needed for editable install
  docs/development.rst
Due: none

frontend: add i18n helper to format strings
  frontend/src/i18n.ts
Due: eslint

i18n: use new format helper for currency dropdown
  frontend/src/stores/chart.ts
Due: eslint

implement journal filters as svelte component
  frontend/css/journal-table.css
  frontend/src/journal/JournalFilters.svelte
  frontend/src/journal/index.ts
  frontend/src/stores/index.ts
  frontend/src/svelte-custom-elements.ts
  src/fava/templates/_journal_table.html
Due: stylelint, eslint

conftest: make it work with both pytest 6 and 7
  tests/conftest.py
  tox.ini
Due: none

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

deps
  .github/workflows/test.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  tests/test_core_budgets.py
Due: none

changes and fix makefile
  CHANGES
  Makefile
Due: none

frontend: compile to esm instead of iife
  frontend/build.ts
  src/fava/templates/_layout.html
Due: eslint

deps
  Makefile
  frontend/package-lock.json
  frontend/package.json
Due: none

switch to @fontsource/* fonts
  Makefile
  frontend/build.ts
  frontend/css/fonts.css
  frontend/package-lock.json
  frontend/package.json
Due: stylelint, eslint

allow scrolling of sidebar
  frontend/css/aside.css
  frontend/src/AutocompleteInput.svelte
Due: stylelint, eslint

ci: test 3.10 on windows
  .github/workflows/test.yml
Due: none

Don't suggest closed accounts
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/stores/index.ts
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/templates/_layout.html
Due: stylelint, eslint

fixups
  frontend/src/stores/index.ts
  src/fava/core/attributes.py
  src/fava/templates/_layout.html
Due: eslint

move checking of closed accounts to AccountInput
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

also filter to open accounts in Note and Balance
  frontend/src/entry-forms/Balance.svelte
  frontend/src/entry-forms/Note.svelte
Due: stylelint, eslint

save journal-show in localStorage
  CHANGES
  frontend/src/journal/JournalFilters.svelte
  frontend/src/journal/index.ts
  frontend/src/stores/index.ts
  frontend/src/stores/journal.ts
  src/fava/core/fava_options.py
  src/fava/help/options.md
  tests/test_core_fava_options.py
Due: stylelint, eslint

headerline: show links in link color
  frontend/css/base.css
Due: stylelint
