Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, stylelint, eslint

prettier:
  name: prettier
  language: node
  entry: prettier --write --list-different
  require_serial: true
  additional_dependencies:
  - prettier@3.3.3
  - prettier-plugin-svelte@3.3.2
  - svelte@4.2.19

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@16.10.0
  - stylelint-config-recess-order@5.1.1
  - stylelint-config-standard@36.0.1
  - postcss-html@1.7.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --config frontend/eslint.config.mjs --fix --max-warnings 0
  require_serial: true

ingest: initial beangulp Importer compat
  pyproject.toml
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/core/ingest.py
  stubs/beangulp/__init__.pyi
  stubs/beangulp/cache.pyi
  tests/__snapshots__/test_core_ingest-test_ingest_examplefile-2.json
  tests/__snapshots__/test_json_api-test_api_imports-2.json
  tests/__snapshots__/test_json_api-test_api_imports.json
  tests/data/import_config.py
  tests/test_core_ingest.py
Due: prettier

errors: less mutation, track Fava module errors separately
  src/fava/core/__init__.py
  src/fava/core/budgets.py
  src/fava/core/extensions.py
  src/fava/core/ingest.py
  src/fava/core/misc.py
  tests/test_core_ingest.py
Due: none

initial upgrade to Svelte 5
  frontend/build.ts
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/journal/index.ts
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/route.ts
  frontend/src/reports/routes.ts
  frontend/src/router.ts
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/index.ts
  frontend/src/svelte-custom-elements.ts
Due: prettier, stylelint, eslint

charts: migrate to Svelte 5 runes
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ModeSwitch.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/stores/chart.ts
  frontend/test/charts.test.ts
Due: prettier, stylelint, eslint

sidebar: migrate to Svelte 5 runes
  frontend/src/sidebar/AccountIndicator.svelte
  frontend/src/sidebar/AccountPageTitle.svelte
  frontend/src/sidebar/AccountSelector.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/AsideWithButton.svelte
  frontend/src/sidebar/FilterForm.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/PageTitle.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: prettier, stylelint, eslint

svelte 5 now supports types in templates
  frontend/eslint.config.mjs
  frontend/src/charts/ConversionAndInterval.svelte
  frontend/src/reports/documents/Documents.svelte
Due: prettier, stylelint, eslint

use svelte rune to update props in frontend reports
  frontend/src/reports/route.svelte.ts
  frontend/src/reports/route.ts
Due: prettier, eslint

autocomplete: migrate to Svelte 5 runes
  frontend/src/AutocompleteInput.svelte
Due: prettier, stylelint, eslint

editor report: migrate to Svelte 5 runes
  frontend/src/reports/editor/AppMenu.svelte
  frontend/src/reports/editor/AppMenuItem.svelte
  frontend/src/reports/editor/AppMenuSubItem.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/editor/Key.svelte
Due: prettier, stylelint, eslint

update dependencies to Svelte 5
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier

lint
  frontend/eslint.config.mjs
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/reports/editor/Editor.svelte
Due: prettier, stylelint, eslint

tree-reports: migrate to Svelte 5 runes
  frontend/src/reports/commodities/index.ts
  frontend/src/reports/documents/index.ts
  frontend/src/reports/editor/index.ts
  frontend/src/reports/events/index.ts
  frontend/src/reports/holdings/index.ts
  frontend/src/reports/route.svelte.ts
  frontend/src/reports/tree_reports/BalanceSheet.svelte
  frontend/src/reports/tree_reports/IncomeStatement.svelte
  frontend/src/reports/tree_reports/TrialBalance.svelte
  frontend/src/reports/tree_reports/index.ts
  frontend/src/tree-table/AccountCell.svelte
  frontend/src/tree-table/AccountCellHeader.svelte
  frontend/src/tree-table/Diff.svelte
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/IntervalTreeTableNode.svelte
  frontend/src/tree-table/TreeTable.svelte
  frontend/src/tree-table/TreeTableNode.svelte
Due: prettier, stylelint, eslint

update svelte; workaround for Svelte bug affecting BarChart
  frontend/package-lock.json
  frontend/src/charts/BarChart.svelte
Due: prettier, stylelint, eslint

fixup! update svelte; workaround for Svelte bug affecting BarChart
  frontend/src/journal/index.ts
  frontend/src/reports/route.svelte.ts
  frontend/src/svelte-custom-elements.ts
Due: prettier, eslint

util.excel: also ignore type error if dependency is present
  src/fava/util/excel.py
Due: none

deps and lint
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  tests/test_core_ingest.py
Due: prettier

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  src/fava/json_api.py
  stubs/beancount/core/data.pyi
  stubs/beancount/core/display_context.pyi
Due: prettier

deps
  constraints.txt
  frontend/package-lock.json
  pyproject.toml
Due: prettier

try out more complete Beancount types
  src/fava/beans/abc.py
  src/fava/beans/create.py
  src/fava/beans/funcs.py
  src/fava/beans/load.py
  src/fava/beans/protocols.py
  src/fava/beans/str.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/core/tree.py
  src/fava/serialisation.py
  stubs/beancount/__init__.pyi
  stubs/beancount/core/__init__.pyi
  stubs/beancount/core/account.pyi
  stubs/beancount/core/amount.pyi
  stubs/beancount/core/data.pyi
  stubs/beancount/core/display_context.pyi
  stubs/beancount/core/inventory.pyi
  stubs/beancount/core/number.pyi
  stubs/beancount/core/position.pyi
  stubs/beancount/loader.pyi
  stubs/beancount/parser/__init__.pyi
  stubs/beancount/parser/options.pyi
  stubs/beancount/parser/parser.pyi
  stubs/beancount/utils/__init__.pyi
  stubs/beancount/utils/encryption.pyi
  stubs/beanquery/__init__.pyi
  tests/data/import_config.py
  tests/test_core_ingest.py
  tests/test_util_excel.py
Due: none

tmp - use git-installed Beancount for type checking
  Makefile
  constraints-git.txt
  constraints-old.txt
  pyproject.toml
  tox.ini
Due: none

tree-reports: migrate to Svelte 5 runes
  frontend/src/reports/commodities/index.ts
  frontend/src/reports/documents/index.ts
  frontend/src/reports/editor/index.ts
  frontend/src/reports/events/index.ts
  frontend/src/reports/holdings/index.ts
  frontend/src/reports/tree_reports/BalanceSheet.svelte
  frontend/src/reports/tree_reports/IncomeStatement.svelte
  frontend/src/reports/tree_reports/TrialBalance.svelte
  frontend/src/reports/tree_reports/index.ts
  frontend/src/tree-table/AccountCell.svelte
  frontend/src/tree-table/AccountCellHeader.svelte
  frontend/src/tree-table/Diff.svelte
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/IntervalTreeTableNode.svelte
  frontend/src/tree-table/TreeTable.svelte
  frontend/src/tree-table/TreeTableNode.svelte
Due: prettier, stylelint, eslint

Path conditions:
  prettier: any of: \.(css|js|mjs|ts|svelte|yaml|json)$
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|mjs|ts|svelte)$
