Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@15.2.0
  - stylelint-config-recess-order@4.0.0
  - stylelint-config-standard@30.0.1
  - postcss-html@1.5.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

use only currencies in data for bar chart (#1541)
  frontend/src/charts/bar.ts
  frontend/test/charts.test.ts
Due: eslint

Add support for uploading files in the import screen
  frontend/src/api/index.ts
  frontend/src/reports/import/Import.svelte
  pyproject.toml
  src/fava/core/ingest.py
  src/fava/json_api.py
  tests/test_core_ingest.py
  tests/test_json_api.py
Due: stylelint, eslint

Add Entry form: use last-saved date as default for new entries
  frontend/src/entries.ts
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/modals/AddEntry.svelte
  frontend/test/entries.test.ts
Due: stylelint, eslint

docs: fix install command for beancount from git
  docs/development.rst
Due: none

intervals: use whole intervals
  src/fava/core/__init__.py
  src/fava/util/date.py
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/__snapshots__/test_core_charts.py-test_net_worth
  tests/test_util_date.py
Due: none

lint
  src/fava/core/__init__.py
Due: none

ingest: ensure that info about importable files is non-null
  src/fava/core/ingest.py
  tests/test_core_ingest.py
Due: none

charts: improve bar chart performance; limit intervals
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/bar.ts
  src/fava/core/charts.py
Due: stylelint, eslint

charts: improve bar chart performance; limit intervals (#1579)
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/bar.ts
  src/fava/core/charts.py
Due: stylelint, eslint

internal_api: only send subset of Beancount options to frontend
  src/fava/core/charts.py
  src/fava/internal_api.py
  src/fava/util/typing.py
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
Due: none

options: use fields instead of asdict to iterate over dataclass
  src/fava/application.py
  src/fava/templates/options.html
Due: none

Set entry dialog full screen on mobile
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

Use 16px font on mobile to prevent form zooming
  frontend/css/media-mobile.css
Due: stylelint

Set article overflow to scroll if larger than view port
  frontend/css/layout.css
Due: stylelint

Prevent body scroll when dialog is open
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

serialisation: try to ensure that errors can be serialised
  frontend/src/api/validators.ts
  src/fava/internal_api.py
  src/fava/json_api.py
  tests/__snapshots__/test_json_api.py-test_api_errors
  tests/conftest.py
  tests/data/errors.beancount
  tests/test_json_api.py
Due: eslint

tests: more generically replace test data directory
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/__snapshots__/test_json_api.py-test_api_context
  tests/__snapshots__/test_json_api.py-test_api_context-2
  tests/__snapshots__/test_json_api.py-test_api_events
  tests/conftest.py
Due: none

refactor: use simple dict of grouped entries; add snapshot tests
  src/fava/beans/account.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/group_entries.py
  src/fava/plugins/link_documents.py
  stubs/beancount/core/data.pyi
  tests/__snapshots__/test_core_tree.py-test_tree_cap
  tests/__snapshots__/test_core_tree.py-test_tree_from_entries
  tests/__snapshots__/test_core_tree.py-test_tree_from_entries-2
  tests/test_core_filters.py
  tests/test_core_tree.py
Due: none

tests: more consistently use fixtures
  contrib/scripts.py
  src/fava/core/charts.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/serialisation.py
  tests/conftest.py
  tests/test_application.py
  tests/test_cli.py
  tests/test_core.py
  tests/test_core_attributes.py
  tests/test_core_budgets.py
  tests/test_core_charts.py
  tests/test_core_fava_options.py
  tests/test_core_filters.py
  tests/test_core_ingest.py
  tests/test_core_inventory.py
  tests/test_core_number.py
  tests/test_core_query_shell.py
  tests/test_core_tree.py
  tests/test_extensions.py
  tests/test_internal_api.py
  tests/test_json_api.py
  tests/test_serialisation.py
  tests/test_template_filters.py
  tests/test_templates.py
  tests/test_util.py
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: none

add beans.prices
  src/fava/beans/abc.py
  src/fava/beans/prices.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/conversion.py
  src/fava/core/tree.py
  src/fava/template_filters.py
  stubs/beancount/core/convert.pyi
  stubs/beancount/core/prices.pyi
  tests/test_beans.py
Due: none

use daterange objects to avoid off-by-one errors
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/tree.py
  src/fava/templates/_tree_table.html
  src/fava/templates/account.html
  src/fava/util/__init__.py
  src/fava/util/date.py
  stubs/beancount/core/data.pyi
  tests/__snapshots__/test_core_charts.py-test_interval_totals
  tests/__snapshots__/test_core_charts.py-test_interval_totals-2
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted
  tests/__snapshots__/test_core_charts.py-test_interval_totals_inverted-2
  tests/__snapshots__/test_core_charts.py-test_net_worth
  tests/conftest.py
  tests/test_templates.py
  tests/test_util.py
Due: none

charts: add test to more easily spot off-by-one error in net_worth chart
  src/fava/templates/_tree_table.html
  tests/__snapshots__/test_core_charts.py-test_net_worth_off_by_one
  tests/__snapshots__/test_core_charts.py-test_net_worth_off_by_one-2
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/__snapshots__/test_templates.py-test_account_tree
  tests/__snapshots__/test_templates.py-test_account_tree_off_by_one
  tests/conftest.py
  tests/data/extension-report-example.beancount
  tests/data/off-by-one.beancount
  tests/test_application.py
  tests/test_core_charts.py
  tests/test_core_ingest.py
  tests/test_core_query_shell.py
  tests/test_extensions.py
  tests/test_templates.py
Due: none

tox,ci: add and use constraints file
  .github/workflows/publish.yml
  .github/workflows/test.yml
  Makefile
  constraints-old.txt
  constraints.txt
  setup.cfg
  tox.ini
Due: none

makefile: avoid unnecessary rebuilds in make test
  Makefile
Due: none

modal: prevent body scroll, more stable positioning
  frontend/src/modals/ModalBase.svelte
Due: stylelint, eslint

lint: disable some more pylint rules
  pyproject.toml
  src/fava/beans/prices.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  src/fava/core/filters.py
  src/fava/core/ingest.py
  src/fava/core/query_shell.py
  src/fava/ext/portfolio_list/__init__.py
  tox.ini
Due: none

core.filters: refactor and simplify
  src/fava/core/__init__.py
  src/fava/core/filters.py
  stubs/beancount/core/getters.pyi
  tests/test_core_filters.py
Due: none

refactor: use pathlib more
  contrib/scripts.py
  docs/generate.py
  pyproject.toml
  src/fava/core/__init__.py
  src/fava/core/documents.py
  src/fava/core/extensions.py
  src/fava/core/file.py
  src/fava/core/ingest.py
  src/fava/core/watcher.py
  src/fava/ext/__init__.py
  src/fava/ext/auto_commit.py
  src/fava/json_api.py
  src/fava/plugins/link_documents.py
  src/fava/template_filters.py
  src/fava/util/__init__.py
  tests/data/import_config.py
  tests/test_core.py
  tests/test_core_documents.py
  tests/test_core_ingest.py
  tests/test_core_watcher.py
  tests/test_ext.py
Due: none

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: \.(js|ts|svelte)$
