Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@16.2.1
  - stylelint-config-recess-order@5.0.0
  - stylelint-config-standard@36.0.0
  - postcss-html@1.6.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

lint
  frontend/build.ts
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/tooltip.ts
  frontend/src/codemirror/ruler.ts
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/format.ts
  frontend/src/helpers.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/main.ts
  frontend/src/notifications.ts
  frontend/src/reports/accounts/index.ts
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/svelte-custom-elements.ts
  frontend/sync-pre-commit.ts
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

change detection: fix for multiple clients/tabs
  frontend/src/main.ts
  frontend/src/stores/mtime.ts
Due: eslint

test: try to reduce flakiness of file watcher tests
  src/fava/core/watcher.py
  tests/test_core_watcher.py
Due: none

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

update tree-sitter-beancount.wasm
  frontend/src/codemirror/tree-sitter-beancount.wasm
Due: none

core.tree: render to strings in snapshots tests
  src/fava/beans/str.py
  src/fava/core/inventory.py
  tests/__snapshots__/test_core_tree-test_tree_cap
  tests/__snapshots__/test_core_tree-test_tree_from_entries
  tests/__snapshots__/test_core_tree-test_tree_from_entries-2
  tests/test_core_inventory.py
  tests/test_core_tree.py
Due: none

revert making header clickable
  frontend/src/components/Link.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: stylelint, eslint

Makes Beancount a navigable link
  frontend/src/components/Link.svelte
  frontend/src/sidebar/AsideContents.svelte
  frontend/src/sidebar/Header.svelte
  frontend/src/sidebar/SidebarLink.svelte
Due: stylelint, eslint

Add tooltip for add journal entry button (#1768)
  frontend/src/sidebar/AsideContents.svelte
Due: stylelint, eslint

lint
  src/fava/core/filters.py
  src/fava/util/__init__.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

ci: only run windows and macos tests with a single Python version
  .github/workflows/test.yml
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  src/fava/core/ingest.py
Due: none

watcher: separate threads for file and folder watching
  src/fava/core/watcher.py
Due: none

fix: make the link drop feature actually work
  frontend/src/document-upload.ts
Due: eslint

fix: fix drag-and-drop of link
  frontend/src/document-upload.ts
Due: eslint

lint: enable and apply strict-boolean-expressions
  frontend/.eslintrc.js
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/SelectCombobox.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/clipboard.ts
  frontend/src/codemirror/bql-stream-parser.ts
  frontend/src/document-upload.ts
  frontend/src/entries.ts
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/extensions.ts
  frontend/src/format.ts
  frontend/src/helpers.ts
  frontend/src/journal/JournalFilters.svelte
  frontend/src/keyboard-shortcuts.ts
  frontend/src/lib/fetch.ts
  frontend/src/lib/interval.ts
  frontend/src/lib/store.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/documents/Accounts.svelte
  frontend/src/reports/documents/Documents.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/import/index.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/router.ts
  frontend/src/sort/index.ts
  frontend/src/stores/mtime.ts
  frontend/src/stores/url.ts
  frontend/src/svelte-custom-elements.ts
  frontend/src/tree-table/IntervalTreeTable.svelte
  frontend/src/tree-table/IntervalTreeTableNode.svelte
  frontend/src/tree-table/TreeTableNode.svelte
Due: stylelint, eslint

add toggle to include zero in line charts
  frontend/src/charts/Chart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/stores/chart.ts
Due: stylelint, eslint

journal: adjust column width and reduce number of columns
  frontend/css/journal-table.css
  src/fava/templates/_journal_table.html
  tests/__snapshots__/test_json_api-test_api-account_report_off_by_one_journal.json
Due: stylelint

include zero in line charts for area mode
  frontend/src/charts/LineChart.svelte
Due: stylelint, eslint

Update date.py
  src/fava/util/date.py
Due: none

include zero in line charts for area mode (#1803)
  frontend/src/charts/LineChart.svelte
Due: stylelint, eslint

ingest: error handling for extract error
  frontend/src/reports/import/Import.svelte
  src/fava/core/ingest.py
Due: stylelint, eslint

lint: enable error-related ruff rules
  _build_backend.py
  contrib/scripts.py
  pyproject.toml
  src/fava/beans/funcs.py
  src/fava/beans/helpers.py
  src/fava/beans/str.py
  src/fava/cli.py
  src/fava/core/__init__.py
  src/fava/core/charts.py
  src/fava/core/documents.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/core/filters.py
  src/fava/core/number.py
  src/fava/core/query_shell.py
  src/fava/ext/__init__.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/json_api.py
  src/fava/serialisation.py
  src/fava/util/date.py
  src/fava/util/excel.py
  tests/test_core.py
  tests/test_core_ingest.py
  tests/test_json_api.py
Due: none

add colors for dark mode
  frontend/css/style.css
Due: stylelint

deps
  .pre-commit-config.yaml
  constraints-old.txt
  constraints.txt
  frontend/package-lock.json
Due: none

make,dev docs: add target to install venv with uv
  Makefile
  docs/development.rst
  requirements.txt
Due: none

lint: enable promise-function-async rule
  frontend/.eslintrc.js
  frontend/src/extensions.ts
  frontend/src/lib/fetch.ts
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/reports/commodities/index.ts
  frontend/src/reports/documents/index.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/index.ts
  frontend/src/reports/events/index.ts
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/import/index.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/tree_reports/index.ts
Due: stylelint, eslint

add dark colors for editor
  frontend/css/style.css
  frontend/src/codemirror/beancount-highlight.ts
Due: stylelint, eslint

add auto-completion for narration
  frontend/src/api/validators.ts
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/stores/index.ts
  src/fava/core/attributes.py
  src/fava/internal_api.py
  src/fava/json_api.py
  tests/__snapshots__/test_application-test_client_side_reports
  tests/__snapshots__/test_internal_api-test_get_ledger_data.json
  tests/test_core_attributes.py
Due: stylelint, eslint

add css improvements for journal on mobile devices
  frontend/css/journal-table.css
Due: stylelint

fix lin-js
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

fix lint-js
  frontend/src/entry-forms/Transaction.svelte
Due: stylelint, eslint

convert week parsing to match d3.js
  src/fava/util/date.py
Due: none

date validation: only accept plain dates
  frontend/src/lib/validation.ts
  frontend/test/validation.test.ts
Due: eslint

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|ts|svelte)$
