Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 23.9.0
      hooks:
          - id: black
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.0.287
      hooks:
          - id: ruff
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            require_serial: true
            additional_dependencies:
                - "prettier@3.0.3"
                - "prettier-plugin-svelte@3.0.3"
                - "svelte@4.2.0"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            require_serial: true
            additional_dependencies:
                - "stylelint@15.10.3"
                - "stylelint-config-recess-order@4.3.0"
                - "stylelint-config-standard@34.0.0"
                - "postcss-html@1.5.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            require_serial: true
            files: frontend/.*\.(js|ts|svelte)$

use Object.hasOwn
  frontend/src/lib/validation.ts
  frontend/tsconfig.json
Due: eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  pyproject.toml
Due: none

fava.beans: Add some protocol classes
  src/fava/beans/protocols.py
  src/fava/core/conversion.py
  src/fava/core/inventory.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

cli: fix type and default arg for filename
  src/fava/cli.py
Due: none

feat: update overriding mimetype
  src/fava/application.py
Due: none

fix(cli): support relative `BEANCOUNT_FILE`
  src/fava/cli.py
Due: none

fix precision for locale format
  frontend/src/format.ts
  frontend/test/format.test.ts
Due: eslint

update translations
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

cli: use pathsep; require env filenames to be absolute
  src/fava/cli.py
Due: none

cli: unify address-in-use error
  src/fava/cli.py
Due: none

test: tiny speed-up for CLI test
  tests/conftest.py
  tests/test_cli.py
Due: none

add hooks for extension development: after_load_file and before_request
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/extensions.py
  src/fava/ext/__init__.py
  src/fava/help/extensions.md
Due: none

typings
  pyproject.toml
  src/fava/beans/abc.py
  src/fava/beans/funcs.py
  src/fava/core/__init__.py
  src/fava/core/commodities.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/internal_api.py
  src/fava/plugins/link_documents.py
  src/fava/util/__init__.py
  stubs/beancount/core/data.pyi
  tests/test_core_file.py
  tests/test_json_api.py
Due: none

Add support for posting metadata
  frontend/src/entries.ts
  frontend/src/entry-forms/AddPostingMetadataButton.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/PostingMetadata.svelte
  frontend/test/entries.test.ts
  src/fava/beans/abc.py
  src/fava/serialisation.py
  tests/__snapshots__/test_json_api-test_api_context.json
  tests/__snapshots__/test_json_api-test_api_payee_transaction.json
  tests/test_serialisation.py
Due: stylelint, eslint

Fix typing hints and linting
  src/fava/serialisation.py
  tests/test_serialisation.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/editor/DeleteButton.svelte
  src/fava/util/date.py
Due: stylelint, eslint

fix key in sunburst chart loop
  frontend/src/charts/HierarchyContainer.svelte
Due: stylelint, eslint

ci: update used github actions
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

fava.util: remove unused constant
  src/fava/util/__init__.py
Due: none

docs: use the furo theme
  constraints.txt
  docs/conf.py
  docs/templates/sidebar/navigation.html
  pyproject.toml
  src/fava/beans/types.py
  src/fava/util/__init__.py
  tox.ini
Due: none

ci: add action to publish to gh-pages
  .github/workflows/docs-pages.yml
Due: none

cleanup after adding gh pages action
  .github/workflows/docs-pages.yml
  .github/workflows/test.yml
  Makefile
Due: none

ci: only deploy to github pages for beancount/fava
  .github/workflows/docs-pages.yml
Due: none

ci: only try to configure gh pages on main repo
  .github/workflows/docs-pages.yml
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

fix #1727
  frontend/src/stores/mtime.ts
Due: eslint

editor: improve parser and mapping between tree-sitter and Lezer
  frontend/css/style.css
  frontend/src/codemirror/beancount-highlight.ts
  frontend/src/codemirror/beancount.ts
  frontend/src/codemirror/tree-sitter-parser.ts
  frontend/src/lib/array.ts
  frontend/src/log.ts
  frontend/test/parser.test.ts
Due: stylelint, eslint

editor: add some tests for transaction specs
  frontend/src/codemirror/editor-transactions.ts
  frontend/test/editor.test.ts
Due: eslint

misc help changes; font spaces savings
  frontend/build.ts
  frontend/css/fonts.css
  frontend/css/help.css
  frontend/css/style.css
  frontend/package-lock.json
  frontend/package.json
  src/fava/help/beancount_syntax.md
  src/fava/help/budgets.md
  src/fava/help/extensions.md
  src/fava/help/features.md
  src/fava/help/filters.md
  src/fava/help/import.md
  src/fava/help/options.md
  tests/test_application.py
Due: stylelint, eslint

ABC: Allow Posting meta to be None again
  src/fava/beans/abc.py
Due: none

Reuse EntryMetadata for Posting metadata
  frontend/src/entries.ts
  frontend/src/entry-forms/AddPostingMetadataButton.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/entry-forms/PostingMetadata.svelte
Due: stylelint, eslint
