Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
  skip: ["eslint"]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        entry: prettier --write --list-different --ignore-unknown
        require_serial: true
        additional_dependencies:
          - "prettier@3.3.3"
          - "prettier-plugin-svelte@3.2.6"
          - "svelte@4.2.18"
      - id: stylelint
        name: stylelint
        language: node
        entry: stylelint --fix
        files: \.(css|svelte)$
        require_serial: true
        additional_dependencies:
          - "stylelint@16.8.1"
          - "stylelint-config-recess-order@5.0.1"
          - "stylelint-config-standard@36.0.1"
          - "postcss-html@1.7.0"
      - id: eslint
        name: eslint
        language: node
        entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
        require_serial: true
        files: frontend/.*\.(js|ts|svelte)$

sync translations from poeditor and remove unused terms from poeditor
  contrib/scripts.py
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

query: frontend rendered queries
  frontend/css/components.css
  frontend/src/api/index.ts
  frontend/src/api/validators.ts
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/line.ts
  frontend/src/charts/query-charts.ts
  frontend/src/entries.ts
  frontend/src/main.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/query/QueryBox.svelte
  frontend/src/reports/query/QueryLinks.svelte
  frontend/src/reports/query/QueryTable.svelte
  frontend/src/reports/query/query_table.ts
  frontend/src/router.ts
  frontend/src/sort/index.ts
  frontend/src/sort/sortable-table.ts
  frontend/src/stores/format.ts
  frontend/src/stores/index.ts
  frontend/src/stores/query.ts
  frontend/src/stores/url.ts
  frontend/test/charts.test.ts
  frontend/test/entries.test.ts
  src/fava/core/query_shell.py
  src/fava/json_api.py
  tests/__snapshots__/test_json_api-test_api_query_result-2.json
  tests/__snapshots__/test_json_api-test_api_query_result-3.json
  tests/__snapshots__/test_json_api-test_api_query_result-4.json
  tests/__snapshots__/test_json_api-test_api_query_result-5.json
  tests/__snapshots__/test_json_api-test_api_query_result.json
  tests/test_core_charts.py
  tests/test_core_query_shell.py
  tests/test_json_api.py
Due: stylelint, eslint

query: remove unused endpoint, add svelte-component for table
  frontend/src/api/index.ts
  frontend/src/api/validators.ts
  frontend/src/reports/query/QueryTable.svelte
  frontend/src/reports/query/query_table.ts
  frontend/src/svelte-custom-elements.ts
  src/fava/core/charts.py
  src/fava/core/query_shell.py
  src/fava/json_api.py
  src/fava/templates/_query_table.html
  src/fava/templates/statistics.html
  tests/__snapshots__/test_core_charts-test_query-2.json
  tests/__snapshots__/test_core_charts-test_query-3.json
  tests/__snapshots__/test_core_charts-test_query.json
  tests/__snapshots__/test_json_api-test_api_query_result_charts.json
  tests/test_core_charts.py
  tests/test_json_api.py
Due: stylelint, eslint

query: add client-side rendered holdings report
  frontend/src/reports/holdings/Holdings.svelte
  frontend/src/reports/holdings/index.ts
  frontend/src/reports/query/QueryTable.svelte
  frontend/src/reports/routes.ts
  src/fava/application.py
  src/fava/templates/holdings.html
Due: stylelint, eslint

fix: Respect ordering of provided ledgers
  src/fava/cli.py
  tests/test_cli.py
Due: none

template_filters: add explicitly in fava.application
  src/fava/application.py
  src/fava/template_filters.py
Due: none

incognito: add filter instead of doing replace of HTML response
  src/fava/application.py
  src/fava/template_filters.py
  src/fava/templates/_journal_table.html
  src/fava/templates/macros/_commodity_macros.html
  stubs/beancount/utils/text_utils.pyi
  tests/test_template_filters.py
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint

Allow more than 9 arguments to main
  src/fava/cli.py
Due: none

Make poll_watcher keyword-only
  src/fava/application.py
  src/fava/core/__init__.py
Due: none

Fix missing keyword
  src/fava/application.py
Due: none

Add `--poll-watcher` flag. (#1850)
  src/fava/application.py
  src/fava/cli.py
  src/fava/core/__init__.py
Due: none

add colors for dark mode
  frontend/css/editor.css
  frontend/css/style.css
  frontend/src/codemirror/beancount-highlight.ts
  frontend/src/codemirror/beancount.ts
  frontend/src/codemirror/setup.ts
  frontend/src/reports/editor/Editor.svelte
Due: stylelint, eslint

support numerical comparison operators for amounts in filter
  src/fava/core/filters.py
  src/fava/help/filters.md
  tests/test_core_filters.py
Due: none

filters: compare to absolute value of amounts; add tests for MatchAmount
  src/fava/core/filters.py
  src/fava/help/filters.md
  tests/test_core_filters.py
Due: none

fix!: Respect default-file when inserting entries
  src/fava/core/file.py
  src/fava/help/options.md
Due: none

feat: Allow specifying the filename to default-file
  src/fava/core/fava_options.py
  src/fava/help/options.md
  tests/test_core_fava_options.py
Due: none

changes
  CHANGES
Due: none

tests: keep constraints-old.txt "up-to-date"
  Makefile
  constraints-old.txt
  constraints.txt
  pyproject.toml
  tox.ini
Due: none

show unrealized profit percentage in 'all holdings' view
  frontend/src/reports/holdings/index.ts
Due: eslint

holdings: show price columns in "by_currency" view; align formatting
  frontend/src/reports/holdings/index.ts
Due: eslint

frontend: AutocompleteInput: escape * in fuzzyfinding
  frontend/src/AutocompleteInput.svelte
Due: stylelint, eslint

fava_options: stricter checks, refactor and better testing
  src/fava/core/fava_options.py
  src/fava/util/__init__.py
  tests/test_core_fava_options.py
  tests/test_util.py
Due: none

translations: split Payee/Narration to avoid unnecessary translatable string
  src/fava/templates/_journal_table.html
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/pt_BR/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
Due: none

translations: add pt_BR; updates scripts
  Makefile
  contrib/scripts.py
  src/fava/__init__.py
  src/fava/application.py
  src/fava/help/options.md
  src/fava/translations/bg/LC_MESSAGES/messages.po
  src/fava/translations/ca/LC_MESSAGES/messages.po
  src/fava/translations/de/LC_MESSAGES/messages.po
  src/fava/translations/es/LC_MESSAGES/messages.po
  src/fava/translations/fa/LC_MESSAGES/messages.po
  src/fava/translations/fr/LC_MESSAGES/messages.po
  src/fava/translations/nl/LC_MESSAGES/messages.po
  src/fava/translations/pt/LC_MESSAGES/messages.po
  src/fava/translations/pt_BR/LC_MESSAGES/messages.po
  src/fava/translations/ru/LC_MESSAGES/messages.po
  src/fava/translations/sk/LC_MESSAGES/messages.po
  src/fava/translations/sv/LC_MESSAGES/messages.po
  src/fava/translations/uk/LC_MESSAGES/messages.po
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.po
  tox.ini
Due: none

makefile: do not pull in bql-grammar in frontend build
  Makefile
Due: none

deps
  .pre-commit-config.yaml
  Makefile
  constraints-old.txt
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/modals/AddEntry.svelte
  pyproject.toml
Due: stylelint, eslint

upgrade to eslint v9
  .pre-commit-config.yaml
  frontend/.eslintrc.js
  frontend/build.ts
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/document-upload.ts
  frontend/src/journal/index.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/lib/events.ts
  frontend/src/lib/validation.ts
  frontend/src/log.ts
  frontend/src/modals/AddEntry.svelte
  frontend/src/notifications.ts
  frontend/src/reports/import/Import.svelte
  frontend/src/router.ts
  frontend/src/sidebar/index.ts
  frontend/src/tree-table/tree-table-custom-element.ts
  frontend/stylelint.config.mjs
  frontend/sync-pre-commit.ts
  frontend/tsconfig.json
Due: stylelint, eslint

lint
  pyproject.toml
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
Due: none

Support mobile document uploads
  .gitignore
  frontend/css/journal-table.css
  frontend/src/document-upload.ts
  src/fava/templates/_journal_table.html
Due: stylelint, eslint

support dark/light mode
  frontend/css/journal-table.css
Due: stylelint

simplify
  frontend/css/journal-table.css
Due: stylelint

remove id
  src/fava/templates/_journal_table.html
Due: none

make: add back dev target
  Makefile
Due: none

update tree-sitter-beancount.wasm
  frontend/src/codemirror/tree-sitter-beancount.wasm
Due: none

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: test on Python 3.13
  .github/workflows/test.yml
  constraints-old.txt
  constraints.txt
  pyproject.toml
  src/fava/core/charts.py
  src/fava/core/fava_options.py
  tests/test_core_ingest.py
  tests/test_serialisation.py
Due: none
