Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

.pre-commit-config.yaml:

ci:
    skip: ["eslint"]
repos:
    - repo: https://github.com/psf/black
      rev: 22.10.0
      hooks:
          - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v3.8.5
      hooks:
          - id: reorder-python-imports
            args:
                - "--application-directories=.:src"
                - "--add-import=from __future__ import annotations"
    - repo: https://github.com/PyCQA/flake8
      rev: 5.0.4
      hooks:
          - id: flake8
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.1.0
      hooks:
          - id: pyupgrade
            args: ["--py36-plus"]
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            language: node
            entry: prettier --write --list-different --ignore-unknown
            additional_dependencies:
                - "prettier@2.7.1"
                - "prettier-plugin-svelte@2.8.0"
                - "svelte@3.52.0"
          - id: stylelint
            name: stylelint
            language: node
            entry: stylelint --fix
            files: \.(css|svelte)$
            additional_dependencies:
                - "stylelint@14.14.0"
                - "stylelint-config-prettier@9.0.3"
                - "stylelint-config-recess-order@3.0.0"
                - "stylelint-config-standard@29.0.0"
                - "postcss-html@1.5.0"
          - id: eslint
            name: eslint
            language: node
            entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
            files: \.(js|ts|svelte)$

fixup snapshot test with entry hashes
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
  tests/test_internal_api.py
Due: none

minor stubs adjustments
  src/fava/core/accounts.py
  stubs/beancount/core/account_types.pyi
  stubs/beancount/core/amount.pyi
  stubs/beancount/core/convert.pyi
  stubs/beancount/core/data.pyi
  stubs/beancount/core/display_context.pyi
  stubs/beancount/core/getters.pyi
  stubs/beancount/core/interpolate.pyi
  stubs/beancount/core/inventory.pyi
  stubs/beancount/core/number.pyi
  stubs/beancount/core/position.pyi
  stubs/beancount/core/prices.pyi
  stubs/beancount/core/realization.pyi
  stubs/beancount/parser/parser.pyi
  stubs/beancount/query/query.pyi
  stubs/beancount/query/query_execute.pyi
  stubs/beancount/utils/bisect_key.pyi
Due: none

query: minor improvements
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/query/ReadonlyQueryEditor.svelte
Due: stylelint, eslint

render header icon in frontend
  frontend/css/header.css
  frontend/src/router.ts
  frontend/src/sidebar/HeaderIcon.svelte
  frontend/src/sidebar/index.ts
  frontend/src/svelte-custom-elements.ts
  src/fava/templates/_layout.html
Due: stylelint, eslint

tests
  frontend/src/api/index.ts
  frontend/src/api/validators.ts
  frontend/src/lib/store.ts
  frontend/src/router.ts
  frontend/src/stores/url.ts
  frontend/test/end-to-end-validation.test.ts
  frontend/test/validation-roundtrip.test.ts
  src/fava/core/__init__.py
  src/fava/core/watcher.py
  tests/__snapshots__/test_json_api.py-test_api_events
  tests/__snapshots__/test_json_api.py-test_api_payee_accounts
  tests/__snapshots__/test_json_api.py-test_api_query_result_charts
  tests/test_application.py
  tests/test_json_api.py
Due: eslint

lint: enable @typescript-eslint/strict
  frontend/.eslintrc.js
  frontend/src/charts/ChartSwitcherTyped.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/context.ts
  frontend/src/charts/line.ts
  frontend/src/codemirror/beancount-autocomplete.ts
  frontend/src/codemirror/beancount-format.ts
  frontend/src/document-upload.ts
  frontend/src/editor/DocumentPreviewEditor.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/entries.ts
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/i18n.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/lib/result.ts
  frontend/src/reports/documents/Documents.svelte
  frontend/src/reports/documents/types.ts
  frontend/src/reports/editor/SourceEditor.svelte
  frontend/src/reports/import/helpers.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/query/QueryEditor.svelte
  frontend/src/router.ts
  frontend/src/sidebar/page-title.ts
  frontend/src/sort.ts
  frontend/src/stores/filters.ts
  frontend/tsconfig.confs.json
Due: stylelint, eslint

pre-fetch data for frontend-rendered components
  frontend/src/api/validators.ts
  frontend/src/charts/ChartSwitcherTyped.svelte
  frontend/src/entries.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/reports/commodities/Commodities.svelte
  frontend/src/reports/commodities/load.ts
  frontend/src/reports/documents/Documents.svelte
  frontend/src/reports/documents/DocumentsAsync.svelte
  frontend/src/reports/documents/load.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/SourceEditor.svelte
  frontend/src/reports/editor/load.ts
  frontend/src/reports/events/Events.svelte
  frontend/src/reports/events/load.ts
  frontend/src/reports/import/Extract.svelte
  frontend/src/reports/import/FileList.svelte
  frontend/src/reports/import/Import.svelte
  frontend/src/reports/import/ImportAsync.svelte
  frontend/src/reports/import/load.ts
  frontend/src/reports/routes.ts
  frontend/src/router.ts
  frontend/src/stores/filters.ts
  frontend/src/stores/index.ts
  frontend/src/stores/url.ts
Due: stylelint, eslint

editor: ruler at currency_column
  frontend/src/codemirror/ruler.ts
  frontend/src/codemirror/setup.ts
Due: eslint

import: fix conditional
  frontend/src/reports/import/Import.svelte
Due: stylelint, eslint

tox: adjust for v7
  tox.ini
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: none

cheroot: loosen requirement
  setup.cfg
Due: none

import: make validators more lenient
  frontend/src/api/validators.ts
  frontend/src/reports/import/load.ts
Due: eslint

pre-commit: only run one eslint instance
  .pre-commit-config.yaml
Due: none

lint with ruff
  .pre-commit-config.yaml
  pyproject.toml
  src/fava/__init__.py
  src/fava/application.py
  src/fava/cli.py
  src/fava/core/__init__.py
  src/fava/core/accounts.py
  src/fava/core/attributes.py
  src/fava/core/budgets.py
  src/fava/core/charts.py
  src/fava/core/commodities.py
  src/fava/core/documents.py
  src/fava/core/extensions.py
  src/fava/core/fava_options.py
  src/fava/core/file.py
  src/fava/core/misc.py
  src/fava/ext/auto_commit.py
  src/fava/help/__init__.py
  src/fava/json_api.py
  src/fava/plugins/link_documents.py
  src/fava/util/__init__.py
  src/fava/util/date.py
  src/fava/util/ranking.py
  stubs/beancount/core/amount.pyi
  stubs/beancount/core/data.pyi
  stubs/beancount/core/inventory.pyi
  stubs/beancount/core/number.pyi
  stubs/beancount/core/position.pyi
  stubs/beancount/core/prices.pyi
  stubs/beancount/core/realization.pyi
  stubs/beancount/query/query.pyi
  tests/conftest.py
  tox.ini
Due: none

errors: render in frontend
  frontend/src/api/validators.ts
  frontend/src/helpers.ts
  frontend/src/main.ts
  frontend/src/modals/EntryContext.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/errors/Errors.svelte
  frontend/src/reports/errors/load.ts
  frontend/src/reports/routes.ts
  frontend/src/stores/index.ts
  src/fava/application.py
  src/fava/json_api.py
  src/fava/template_filters.py
  src/fava/templates/errors.html
  tests/test_json_api.py
  tests/test_template_filters.py
Due: stylelint, eslint

pre-commit: avoid parallel runs for prettier and stylelint
  .pre-commit-config.yaml
Due: none

serialisation: remove meta.__tolerances__
  src/fava/serialisation.py
  tests/__snapshots__/test_json_api.py-test_api_context
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
Due: none

slice editor: add checkbox on whether to reload after saving
  frontend/src/editor/SliceEditor.svelte
  frontend/src/stores/editor.ts
Due: stylelint, eslint

use notify_err in more places
  frontend/src/codemirror/beancount-format.ts
  frontend/src/document-upload.ts
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/modals/DocumentUpload.svelte
Due: stylelint, eslint

add-entry: replace separate "... and add new" button with checkbox
  frontend/src/editor/SliceEditor.svelte
  frontend/src/modals/AddEntry.svelte
  frontend/src/stores/editor.ts
Due: stylelint, eslint

Add button to delete query history item
  frontend/src/reports/query/Query.svelte
  frontend/src/stores/query.ts
Due: stylelint, eslint

avoid use of svelte:component to get proper type checking
  frontend/src/charts/Chart.svelte
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/scatterplot.ts
  frontend/src/entry-forms/Entry.svelte
Due: stylelint, eslint

ci: also test Python 3.11 on Windows
  .github/workflows/test.yml
Due: none

treeview
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/editor/File.svelte
  frontend/src/reports/editor/Folder.svelte
  frontend/src/reports/editor/treeview.ts
Due: stylelint, eslint

fix safari not updating values on autocomplete on enter
  frontend/src/AutocompleteInput.svelte
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  pyproject.toml
  src/fava/plugins/__init__.py
  src/fava/util/__init__.py
Due: none

extensions: allow extensions to include script tags
  frontend/src/helpers.ts
  frontend/src/router.ts
Due: eslint

entry validation: ensure classes are created
  frontend/src/entries.ts
  frontend/test/entries.test.ts
Due: eslint

deps
  .pre-commit-config.yaml
  frontend/build.ts
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: eslint

feat: option to disable rolling budget comparison
  src/fava/core/__init__.py
  src/fava/core/fava_options.py
  src/fava/util/date.py
  tests/__snapshots__/test_internal_api.py-test_get_ledger_data
Due: none

lint: update ruff; replace pyupgrade
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  src/fava/application.py
  src/fava/core/__init__.py
  src/fava/core/attributes.py
  src/fava/core/charts.py
  src/fava/core/file.py
  src/fava/core/module_base.py
  src/fava/ext/__init__.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/json_api.py
  src/fava/util/__init__.py
  src/fava/util/date.py
Due: none

deps
  frontend/package-lock.json
Due: none

application: Update Babel syntax for new v3 format
  src/fava/application.py
Due: none

Update Flask-Babel to >= 3.0.0
  setup.cfg
Due: none

support Flask-Babel v3
  setup.cfg
  src/fava/application.py
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/query-charts.ts
  frontend/stylelint.config.js
  pyproject.toml
  src/fava/cli.py
  src/fava/core/ingest.py
Due: eslint
