Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: ./frontend/node_modules/stylelint/bin/stylelint.js --fix

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js

Sunburst chart: assign colours by hierarchy
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/helpers.ts
Due: stylelint, eslint

fixes for editor styling
  frontend/css/editor.css
  frontend/css/help.css
  frontend/css/style.css
  frontend/src/editor/SliceEditor.svelte
  frontend/src/editor/SourceEditor.svelte
Due: stylelint, eslint

js: add types for put api parameters
  frontend/src/api.ts
Due: eslint

deps
  frontend/package-lock.json
  frontend/package.json
Due: none

js: update for Typescript 4.4
  frontend/src/editor/SliceEditor.svelte
  frontend/src/editor/SourceEditor.svelte
Due: stylelint, eslint

css: fixes for changes codemirror classes
  frontend/css/editor.css
  frontend/css/help.css
  frontend/src/editor/Editor.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/editor/SourceEditor.svelte
  frontend/src/query/QueryEditor.svelte
Due: stylelint, eslint

ci: fixes
  .github/workflows/ci.yml
Due: none

validation: use Results as return values instead of throwing Errors
  frontend/src/api.ts
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/index.ts
  frontend/src/editor/SourceEditor.svelte
  frontend/src/i18n.ts
  frontend/src/lib/dom.ts
  frontend/src/lib/fetch.ts
  frontend/src/lib/json.ts
  frontend/src/lib/result.ts
  frontend/src/lib/store.ts
  frontend/src/lib/validation.ts
  frontend/src/main.ts
  frontend/src/query/Query.svelte
  frontend/src/stores/index.ts
  frontend/test/charts.test.ts
  frontend/test/validation.test.ts
Due: stylelint, eslint

Sunburst chart: fix colour conflicts
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/helpers.ts
  frontend/src/charts/index.ts
Due: stylelint, eslint

Ellipsize long narration entries in the journal
  frontend/css/journal-table.css
  src/fava/templates/_journal_table.html
Due: stylelint

Make sidebar query links fill in the full query
  src/fava/templates/_aside.html
Due: none

refactor buttons
  frontend/css/base.css
  frontend/css/charts.css
  frontend/css/style.css
  frontend/src/charts/Chart.svelte
Due: stylelint, eslint

charts: minor misc refactors
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/query-charts.ts
  frontend/src/charts/tooltip.ts
  frontend/src/header/FilterForm.svelte
Due: stylelint, eslint

charts: split into modules
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/context.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/line.ts
  frontend/src/charts/query-charts.ts
  frontend/src/charts/scatterplot.ts
  frontend/src/format.ts
  frontend/src/query/Query.svelte
  frontend/src/stores/index.ts
  frontend/test/charts.test.ts
Due: stylelint, eslint

charts: add ModeSwitch component
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ModeSwitch.svelte
Due: stylelint, eslint

charts: add Axis svelte component and move css
  frontend/css/charts.css
  frontend/css/media-print.css
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/axis.ts
Due: stylelint, eslint

unify border color vars
  frontend/css/base.css
  frontend/css/style.css
  frontend/css/tree-table.css
Due: stylelint

refactor css color variable names
  frontend/css/aside.css
  frontend/css/base.css
  frontend/css/charts.css
  frontend/css/components.css
  frontend/css/editor.css
  frontend/css/header.css
  frontend/css/help.css
  frontend/css/journal-table.css
  frontend/css/layout.css
  frontend/css/media-mobile.css
  frontend/css/notifications.css
  frontend/css/style.css
  frontend/css/tree-table.css
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/Axis.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/codemirror/beancount-highlight.ts
  frontend/src/documents/Accounts.svelte
  frontend/src/documents/Documents.svelte
  frontend/src/documents/Table.svelte
  frontend/src/editor/EditorMenu.svelte
  frontend/src/editor/SliceEditor.svelte
  frontend/src/entry-forms/Posting.svelte
  frontend/src/header/FilterForm.svelte
  frontend/src/import/FileList.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/query/Query.svelte
  frontend/src/query/QueryEditor.svelte
  frontend/src/query/QueryLinks.svelte
Due: stylelint, eslint

Move sunburst helpers to hierarchy.ts module
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/helpers.ts
  frontend/src/charts/hierarchy.ts
Due: stylelint, eslint

add ts types for get api
  frontend/src/api.ts
  frontend/src/lib/fetch.ts
  frontend/src/stores/filters.ts
Due: eslint

ext: define hooks in base class and use explicitly
  src/fava/core/extensions.py
  src/fava/core/file.py
  src/fava/ext/__init__.py
  src/fava/help/extensions.md
  tests/test_extensions.py
Due: none

lint
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/hierarchy.ts
Due: stylelint, eslint

lint: reorder items
  frontend/src/charts/hierarchy.ts
Due: eslint

lint: oops, shouldn't have changed that one
  frontend/src/charts/hierarchy.ts
Due: eslint

ext: add before_insert_entry hook
  src/fava/core/file.py
  src/fava/ext/__init__.py
Due: none

Add fava-option documents-directory-structure.
  src/fava/core/documents.py
  src/fava/core/fava_options.py
Due: none

Add documentation for new option.
  src/fava/help/options.md
Due: none

refactor: use uvu for tests
  frontend/package-lock.json
  frontend/package.json
  frontend/test/account.test.ts
  frontend/test/charts.test.ts
  frontend/test/equals.test.ts
  frontend/test/events.test.ts
  frontend/test/format.test.ts
  frontend/test/fuzzy.test.ts
  frontend/test/paths.test.ts
  frontend/test/snapshots/charts.test.ts.md
  frontend/test/snapshots/charts.test.ts.snap
  frontend/test/snapshots/tree.test.ts.md
  frontend/test/snapshots/tree.test.ts.snap
  frontend/test/store.test.ts
  frontend/test/tree.test.ts
  frontend/test/validation.test.ts
Due: eslint

npm update
  frontend/package-lock.json
Due: none

chore: add github PR template
  .github/pull_request_template.md
Due: none

Improve formatting in the documentation of the new option.
  src/fava/help/options.md
Due: none

deps
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/validation.ts
Due: eslint

editor: use new readOnly facet
  frontend/src/codemirror/setup.ts
Due: eslint

lint: update for latest pylint
  src/fava/core/fava_options.py
  tests/test_core_file.py
Due: none

remove .mo files
  src/fava/translations/bg/LC_MESSAGES/messages.mo
  src/fava/translations/ca/LC_MESSAGES/messages.mo
  src/fava/translations/de/LC_MESSAGES/messages.mo
  src/fava/translations/es/LC_MESSAGES/messages.mo
  src/fava/translations/fa/LC_MESSAGES/messages.mo
  src/fava/translations/fr/LC_MESSAGES/messages.mo
  src/fava/translations/nl/LC_MESSAGES/messages.mo
  src/fava/translations/pt/LC_MESSAGES/messages.mo
  src/fava/translations/ru/LC_MESSAGES/messages.mo
  src/fava/translations/sk/LC_MESSAGES/messages.mo
  src/fava/translations/uk/LC_MESSAGES/messages.mo
  src/fava/translations/zh/LC_MESSAGES/messages.mo
  src/fava/translations/zh_Hant_TW/LC_MESSAGES/messages.mo
Due: none

gitignore .mo files; add to MANIFEST
  .gitignore
  MANIFEST.in
  Makefile
Due: none

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: \.(js|ts|svelte)$
