Repository beancount/fava: changes, and which pre-commit hooks are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  name: stylelint
  language: node
  entry: stylelint --fix
  require_serial: true
  additional_dependencies:
  - stylelint@15.6.2
  - stylelint-config-recess-order@4.0.0
  - stylelint-config-standard@33.0.0
  - postcss-html@1.5.0

eslint:
  name: eslint
  language: node
  entry: ./frontend/node_modules/eslint/bin/eslint.js --max-warnings 0
  require_serial: true

Update README
  src/fava/help/extensions.md
Due: none

Fix linter error
  src/fava/ext/batch_edit/__init__.py
Due: none

editor: fix spacing of dropdowns in editor menu
  frontend/css/base.css
  frontend/src/modals/DocumentUpload.svelte
  frontend/src/modals/ModalBase.svelte
  frontend/src/reports/editor/AppMenu.svelte
  frontend/src/reports/editor/AppMenuItem.svelte
  frontend/src/reports/editor/AppMenuSubItem.svelte
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
Due: stylelint, eslint

deps; lint
  .pre-commit-config.yaml
  constraints.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/sync-pre-commit.ts
  pyproject.toml
  src/fava/cli.py
  src/fava/core/charts.py
  src/fava/ext/portfolio_list/__init__.py
  src/fava/ext/portfolio_list/templates/PortfolioList.html
  src/fava/util/excel.py
Due: eslint

Make tables wrap better
  frontend/css/journal-table.css
  src/fava/templates/_tree_table.html
  tests/__snapshots__/test_templates.py-test_render_diff_and_number
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-2
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-3
  tests/__snapshots__/test_templates.py-test_render_diff_and_number-4
  tests/__snapshots__/test_templates.py-test_tree_off_by_one
Due: stylelint

Create github workflow for pushing to ghcr.io
  .github/workflows/docker-image.yml
Due: none

deps; lint
  .pre-commit-config.yaml
  constraints.txt
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AutocompleteInput.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/line.ts
  frontend/src/charts/tooltip.ts
  frontend/src/codemirror/beancount-indent.ts
  frontend/src/codemirror/bql-stream-parser.ts
  frontend/src/codemirror/ruler.ts
  frontend/src/document-upload.ts
  frontend/src/entry-forms/EntryMetadata.svelte
  frontend/src/entry-forms/Transaction.svelte
  frontend/src/extensions.ts
  frontend/src/i18n.ts
  frontend/src/journal/JournalFilters.svelte
  frontend/src/journal/index.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/main.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/notifications.ts
  frontend/src/reports/commodities/load.ts
  frontend/src/reports/documents/Table.svelte
  frontend/src/reports/documents/load.ts
  frontend/src/reports/editor/Editor.svelte
  frontend/src/reports/editor/EditorMenu.svelte
  frontend/src/reports/editor/load.ts
  frontend/src/reports/events/load.ts
  frontend/src/reports/import/load.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/reports/routes.ts
  frontend/src/sort.ts
  src/fava/cli.py
  src/fava/core/misc.py
Due: stylelint, eslint

changes
  CHANGES
Due: none

Add API, tests, and UI to delete entries
  frontend/src/api/index.ts
  frontend/src/editor/DeleteButton.svelte
  frontend/src/editor/SliceEditor.svelte
  src/fava/core/extensions.py
  src/fava/core/file.py
  src/fava/ext/__init__.py
  src/fava/ext/auto_commit.py
  src/fava/help/extensions.md
  src/fava/json_api.py
  tests/test_core_file.py
  tests/test_json_api.py
Due: stylelint, eslint

lint: enable eslint-plugin-deprecation
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Due: eslint

charts: remove deprecated way to add charts
  frontend/src/charts/ChartSwitcher.svelte
  src/fava/templates/_charts.html
  src/fava/templates/_layout.html
  tests/__snapshots__/test_application.py-test_client_side_reports
Due: stylelint, eslint

clipboard: use standard web APIs to copy to clipboard
  frontend/src/clipboard.ts
Due: eslint

_layout: minor cleanup
  src/fava/application.py
  src/fava/templates/_layout.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/help.html
  src/fava/templates/holdings.html
  src/fava/templates/income_statement.html
  src/fava/templates/journal.html
  src/fava/templates/options.html
  src/fava/templates/statistics.html
  src/fava/templates/trial_balance.html
  tests/__snapshots__/test_application.py-test_client_side_reports
Due: none

lint: fix deprecation
  frontend/src/keyboard-shortcuts.ts
  src/fava/templates/macros/_account_macros.html
Due: eslint

journal: safer external links
  src/fava/templates/_journal_table.html
Due: none

_layout: simplify and fix page_title
  src/fava/application.py
  src/fava/templates/_layout.html
  src/fava/templates/balance_sheet.html
  src/fava/templates/help.html
  src/fava/templates/holdings.html
  src/fava/templates/income_statement.html
  src/fava/templates/journal.html
  src/fava/templates/options.html
  src/fava/templates/statistics.html
  src/fava/templates/trial_balance.html
Due: none

ext: load templates from extension template folder
  src/fava/application.py
  src/fava/context.py
  src/fava/ext/portfolio_list/templates/PortfolioList.html
  src/fava/ext/portfolio_list/templates/PortfolioListHeader.html
Due: none

svelte-custom-element: wrapper class for data validation
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/ChartSwitcherTyped.svelte
  frontend/src/charts/index.ts
  frontend/src/reports/commodities/Commodities.svelte
  frontend/src/reports/events/Events.svelte
  frontend/src/svelte-custom-elements.ts
Due: stylelint, eslint

frontend/lib: rustify result types
  frontend/.eslintrc.js
  frontend/src/api/index.ts
  frontend/src/charts/bar.ts
  frontend/src/charts/context.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/line.ts
  frontend/src/charts/query-charts.ts
  frontend/src/charts/scatterplot.ts
  frontend/src/entries.ts
  frontend/src/entry-forms/AccountInput.svelte
  frontend/src/i18n.ts
  frontend/src/lib/dom.ts
  frontend/src/lib/fetch.ts
  frontend/src/lib/json.ts
  frontend/src/lib/result.ts
  frontend/src/lib/store.ts
  frontend/src/lib/validation.ts
  frontend/src/main.ts
  frontend/src/reports/query/Query.svelte
  frontend/src/sidebar/page-title.ts
  frontend/src/stores/format.ts
  frontend/src/svelte-custom-elements.ts
  frontend/sync-pre-commit.ts
  frontend/test/charts.test.ts
  frontend/test/end-to-end-validation.test.ts
  frontend/test/entries.test.ts
  frontend/test/validation.test.ts
Due: stylelint, eslint

charts: toggle currencies in bar and line charts
  frontend/src/charts/Axis.svelte
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/Chart.svelte
  frontend/src/charts/ChartLegend.svelte
  frontend/src/charts/ChartSwitcher.svelte
  frontend/src/charts/HierarchyContainer.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/bar.ts
  frontend/src/charts/hierarchy.ts
  frontend/src/charts/index.ts
  frontend/src/charts/line.ts
  frontend/src/charts/query-charts.ts
  frontend/src/charts/scatterplot.ts
  frontend/src/reports/commodities/load.ts
  frontend/src/reports/events/load.ts
  frontend/src/stores/chart.ts
  frontend/test/charts.test.ts
Due: stylelint, eslint

charts: add round-trip test for hierarchy chart
  frontend/test/charts.test.ts
  frontend/test/end-to-end-validation.test.ts
  tests/__snapshots__/test_internal_api.py-test_chart_api
  tests/test_internal_api.py
Due: eslint

tests: add coverage report for frontend tests
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/i18n.ts
  frontend/src/lib/json.ts
  frontend/test/charts.test.ts
  frontend/test/end-to-end-validation.test.ts
  frontend/test/misc.test.ts
Due: eslint

charts: helpers to include zero and pad extent; pad barchart
  frontend/src/charts/BarChart.svelte
  frontend/src/charts/LineChart.svelte
  frontend/src/charts/ScatterPlot.svelte
  frontend/src/charts/Sunburst.svelte
  frontend/src/charts/helpers.ts
  frontend/test/charts.test.ts
Due: stylelint, eslint

deps
  .pre-commit-config.yaml
  constraints.txt
  frontend/.eslintrc.js
  frontend/package-lock.json
Due: eslint

frontend: use Action type for svelte actions
  frontend/src/charts/Axis.svelte
  frontend/src/charts/Treemap.svelte
  frontend/src/charts/tooltip.ts
  frontend/src/codemirror/setup.ts
  frontend/src/keyboard-shortcuts.ts
  frontend/src/modals/ModalBase.svelte
  frontend/src/sort.ts
Due: stylelint, eslint

Path conditions:
  stylelint: any of: \.(css|svelte)$
  eslint: any of: frontend/.*\.(js|ts|svelte)$
